<div class="inline-flex items-center space-x-1 sm:space-x-2 md:space-x-3">
  <mat-chip
    *ngIf="tag?.votes && tag.votes !== 0"
    (click)="openVoteDialog(tag.votes || 0)"
  >
    {{ tag.votes > 0 ? emojiUnicode.arrowUp : emojiUnicode.arrowDown }}
    {{ tag.votes }}
  </mat-chip>

  <mat-chip *ngIf="!tag || !tag?.votes" (click)="openVoteDialog()">
    {{ emojiUnicode.arrowUp }} Vote
  </mat-chip>

  <mat-chip
    [ngClass]="{
    'negative-tag': tag?.sentiment === 'bearish',
    'positive-tag': tag?.sentiment === 'bullish',
  }"
  >
    <span
      class="capitalize"
      *ngIf="tag?.sentiment; else noSentiment"
      (click)="openTagPredicationDialog()"
    >
      🔮 {{ tag.sentiment }}
    </span>

    <ng-template #noSentiment>
      <span (click)="openTagPredicationDialog()" matTooltip="Bullish or Bearish"
        >🔮 Predict
      </span>
    </ng-template>
  </mat-chip>

  <button mat-icon-button [matMenuTriggerFor]="interactionMenu">
    <mat-icon>more_horiz</mat-icon>
  </button>

  <mat-menu #interactionMenu="matMenu">
    <button mat-menu-item (click)="deleteTag()">Delete Tag</button>
  </mat-menu>
</div>
