.grid {
  display: grid;
  grid-gap: 0.5rem;
}

.grid-dynamic {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.details-panel {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
}

.logo-container {
  margin: auto;
  width: 400px;
  height: 400px;
}

.logo-image {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  position: relative;
  display: inline-block;

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.2;
  }

  .video-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  // align-self: center;
  // justify-self: center;
}

.risk-slides-overview {
  font-weight: lighter;
  margin-bottom: 1rem;

  .current-risk-slide {
    font-weight: bold;
  }
}

.padding-bottom-10rem {
  padding-bottom: 10rem;
}

// .score-line {
//   display: flex;
//   justify-content: flex-end;
//   font-size: large;
// }
