.title-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  .buttons {
    justify-self: flex-end;
  }
}

.padding-1rem {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
// .header {
//   display: grid;
//   grid-template-columns: 1fr 10fr 1fr;
//   column-gap: 20px;
// }

img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

// .score-line {
//   display: flex;
//   justify-content: flex-end;
//   font-size: large;
// }
