<ng-container *ngIf="stockAnalysis === null; else hasStock">
  No result is supported for now.
</ng-container>

<ng-template #hasStock>
  <app-title-menu>
    <div header-1 i18n>
      <span
        >{{ stockAnalysis.displayName || stockAnalysis.name }} ({{
          stockAnalysis?.ticker | uppercase
        }})
      </span>

      <span
        ><a
          target="_blank"
          *ngIf="stockAnalysis?.irAddress"
          title="Investor Relations"
          href="{{ stockAnalysis.irAddress }}"
        >
          🔗
        </a></span
      >

      <!-- <span *ngIf="rank$ | async; else followButton">
        - Rank {{ rank$ | async | undefined }}</span
      > -->
      <span *ngIf="stockAnalysis.price">
        - {{ stockAnalysis.price | undefined }}</span
      >
    </div>
    <div right-items></div>
  </app-title-menu>

  <div class="grid grid-dynamic">
    <app-card class="grid" *ngIf="numbers?.length > 0">
      <app-title-menu>
        <div header-2>Numbers</div>
      </app-title-menu>
      <div *ngFor="let note of numbers" class="opinion-display">
        📊 <app-tag-display [tagUuid]="note?.targets?.[0]"></app-tag-display>
        <app-stats-display [statsDisplay]="note"></app-stats-display>
      </div>
    </app-card>

    <app-card class="grid" *ngIf="opinions?.length > 0">
      <app-title-menu>
        <div header-2>Actions</div>

        <div right-items>
          <button right-items mat-icon-button [matMenuTriggerFor]="opinionMenu">
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #opinionMenu="matMenu">
            <button
              mat-menu-item
              type="button"
              (click)="setDisplayMode(displayModeEnum.list)"
            >
              <mat-icon>list</mat-icon>
            </button>
            <button
              mat-menu-item
              type="button"
              (click)="setDisplayMode(displayModeEnum.slide)"
            >
              <mat-icon>view_array</mat-icon>
            </button>

            <button mat-menu-item type="button" matTooltip="Add Risk">
              <mat-icon>add_circle</mat-icon>
            </button>
          </mat-menu>
        </div>
      </app-title-menu>
      <div *ngFor="let action of actions" class="opinion-display">
        <span>🔸 </span>
        <span *ngFor="let item of action?.targets; let last = last"
          ><app-tag-display [tagUuid]="item"></app-tag-display
          ><span *ngIf="!last">, </span>
        </span>

        <span> {{ action.title }} </span>
      </div>
    </app-card>

    <app-card class="grid" *ngIf="opinions?.length > 0">
      <app-title-menu>
        <div header-2>Opinions</div>

        <div right-items>
          <button right-items mat-icon-button [matMenuTriggerFor]="opinionMenu">
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #opinionMenu="matMenu">
            <button mat-menu-item type="button" matTooltip="Add Risk">
              <mat-icon>add_circle</mat-icon>
            </button>
          </mat-menu>
        </div>
      </app-title-menu>

      <div *ngFor="let note of opinions" class="opinion-display">
        <app-opinion-item-display
          [opinion]="note"
          [expanded]="true"
        ></app-opinion-item-display>
      </div>
    </app-card>
  </div>
</ng-template>
