.title-display {
  display: grid;
}

// .header {
//   display: grid;
//   grid-template-columns: 1fr 10fr 1fr;
//   column-gap: 20px;
// }

img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

// .score-line {
//   display: flex;
//   justify-content: flex-end;
//   font-size: large;
// }
