<ng-container *ngIf="stockAnalysis === null; else hasStock">
  No result is supported for now.
</ng-container>

<ng-template #hasStock>
  <div class="head-section">
    <div class="logo-image">
      <app-image-display [imageLink]="imageLinks[0]"></app-image-display>
    </div>

    <app-title-menu>
      <div header-1 i18n>
        <span
          >{{ stockAnalysis.displayName || stockAnalysis.name }} ({{
            stockAnalysis?.ticker | uppercase
          }})
        </span>

        <span
          ><a
            target="_blank"
            *ngIf="stockAnalysis?.irAddress"
            title="Investor Relations"
            href="{{ stockAnalysis.irAddress }}"
          >
            🔗
          </a></span
        >

        <!-- <span *ngIf="rank$ | async; else followButton">
          - Rank {{ rank$ | async | undefined }}</span
        > -->
        <span *ngIf="stockAnalysis.price">
          - {{ stockAnalysis.price | undefined }}</span
        >
      </div>
      <div right-items></div>
    </app-title-menu>
  </div>

  <div class="grid grid-dynamic">
    <app-card class="grid">
      <app-title-menu>
        <div header-3>My Notes</div>
      </app-title-menu>
    </app-card>

    <app-card class="grid">
      <app-title-menu>
        <div header-3>Other Notes</div>
      </app-title-menu>
    </app-card>
  </div>
</ng-template>
