<mat-toolbar>
  <button
    mat-icon-button
    (click)="searchIconClicked()"
    [disabled]="environment.production"
  >
    <mat-icon>search</mat-icon>
  </button>

  <span *ngIf="showSearchBar; else appName">
    <app-search> </app-search>
  </span>
  <ng-template #appName>
    <span>Woozee Investment</span>
  </ng-template>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="accountMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #accountMenu="matMenu">
    <!-- <button mat-menu-item disabled>
      <a [routerLink]="['/stocks']">Stocks</a>
    </button> -->
    <button mat-menu-item disabled>Login</button>
    <button mat-menu-item disabled>Signup</button>
    <button
      [routerLink]="['/woozee/portfolios']"
      mat-menu-item
      i18n
      [disabled]="environment.production"
    >
      Portfolios
    </button>
    <button
      [routerLink]="['/woozee/favorites']"
      mat-menu-item
      i18n
      [disabled]="environment.production"
    >
      Watchlist
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button [routerLink]="['/blog']" mat-menu-item i18n>Blog</button>

    <button [routerLink]="['/news']" mat-menu-item i18n>News</button>

    <!-- <button mat-menu-item disabled>
      <a [routerLink]="['/stocks']">Stocks</a>
    </button> -->
    <button [routerLink]="['/macro']" mat-menu-item i18n>Macro</button>

    <button [routerLink]="['/woozee/markets']" mat-menu-item i18n>
      Industries
    </button>

    <button mat-menu-item [routerLink]="['/woozee/stocks']" i18n>Stocks</button>
    <a mat-menu-item [href]="aboutPage">About</a>
    <!-- <button mat-menu-item [routerLink]="['/about']">About</button> -->

    <button
      *ngIf="!environment.production"
      [routerLink]="['/ui-components']"
      mat-menu-item
      i18n
    >
      UI
    </button>
  </mat-menu>
</mat-toolbar>

<div class="content-container">
  <router-outlet></router-outlet>
</div>
<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-container> -->
