<mat-toolbar>
  <div>
    <a [routerLink]="['/news']">
      <span class="name">Invesdea</span>
    </a>
  </div>
  <span class="spacer"></span>
  <span *ngIf="showSearchBar">
    <app-search
      enableAutoFocus="'true'"
      [stateGroups]="searchServices.getSearchOptions()"
    >
    </app-search>
  </span>
  <button mat-icon-button (click)="searchIconClicked()">
    <mat-icon class="text-white">search</mat-icon>
  </button>

  <button
    *ngIf="(username$ | async) === null"
    mat-flat-button
    [routerLink]="['/login']"
  >
    Login
  </button>
  <button
    class="ml-3"
    *ngIf="(username$ | async) === null"
    mat-flat-button
    [routerLink]="['/signup']"
  >
    Signup
  </button>
  <button [routerLink]="['/me']" *ngIf="username$ | async" mat-icon-button>
    <mat-icon class="text-white">swap_vert</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="username$ | async">
    <mat-icon class="text-white">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button [routerLink]="['/news']" mat-menu-item i18n>Trending</button>
    <button [routerLink]="['/me']" mat-menu-item i18n>Ranks</button>
    <!-- <button mat-menu-item disabled>
      <a [routerLink]="['/stocks']">Stocks</a>
    </button> -->
    <!-- <button mat-menu-item [routerLink]="['/about']">About</button> -->
    <button
      *ngIf="!environment.production"
      [routerLink]="['/ui-components']"
      mat-menu-item
      i18n
    >
      UI
    </button>
    <a mat-menu-item [href]="aboutPage" *ngIf="!environment.production"
      >About</a
    >
    <button mat-menu-item [disabled]="environment.production">
      <span>
        <mat-icon>account_circle</mat-icon>
      </span>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
<div class="content-container">
  <div *ngIf="(username$ | async) !== undefined">
    <router-outlet></router-outlet>
  </div>
</div>
<button
  mat-icon-button
  class="float-button"
  (click)="addNote()"
  [disabled]="environment.production"
>
  <mat-icon>edit_square</mat-icon>
</button>
