<mat-toolbar>
  <div>
    <a [routerLink]="['/news']">
      <img src="assets/favicon.png" alt="Logo" class="logo" />
      <span class="name">Invesdea</span>
    </a>
  </div>
  <span class="spacer"></span>
  <span *ngIf="showSearchBar">
    <app-search
      enableAutoFocus="'true'"
      [stateGroups]="searchServices.getSearchOptions()"
    >
    </app-search>
  </span>
  <button mat-icon-button (click)="searchIconClicked()">
    <mat-icon class="text-white">search</mat-icon>
  </button>

  <button
    *ngIf="(user$ | async) === null"
    mat-flat-button
    [routerLink]="['/login']"
  >
    Login
  </button>

  <button
    class="ml-3"
    *ngIf="(user$ | async) === null"
    mat-flat-button
    [routerLink]="['/signup']"
  >
    Signup
  </button>

  <ng-container *ngIf="user$ | async as user">
    <button [routerLink]="['/me']" mat-icon-button>
      <mat-icon class="text-white">swap_vert</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="text-white">account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <span mat-menu-item (click)="changeDisplayName()">{{
        user.displayName
      }}</span>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>

<div class="content-container">
  <div
    *ngIf="
      (user$ | async) !== undefined && metaDataObjectLoaded$ | async;
      else loading
    "
  >
    <router-outlet></router-outlet>
  </div>
  <ng-template #loading>
    <div class="flex justify-center items-center mt-20">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>

<!-- a button to move to top of the page -->
<div *ngIf="showBackToTopButton" class="flex justify-center mt-10 pb-10">
  <button mat-button (click)="scrollToTop()">back to top</button>
</div>

<button
  mat-icon-button
  class="float-button"
  (click)="addNote()"
  [disabled]="environment.production"
>
  <mat-icon>edit_square</mat-icon>
</button>
