.grid {
  display: grid;

  &.grid-with-buttons {
    grid-template-columns: 5fr 2fr;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.action-buttons {
  justify-self: flex-end;
}

.highlight {
  font-size: 1.1rem;
}

.note-date {
  padding: 1rem;
  color: gray;
}

ul {
  padding-left: 1rem;
  // list-style-type: none;
}
