<app-title-menu>
  <div header-3>Herman</div>

  <button buttons mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </button>

  <mat-menu #menu="matMenu"> </mat-menu>
</app-title-menu>

<div>
  <app-opinion-display
    *ngIf="opinion"
    [opinion]="opinion"
  ></app-opinion-display>
</div>

<!-- <div *ngFor="let item of opinion.content">
  {{ item }}
</div> -->

<div *ngIf="opinion.links">
  <app-links-display [links]="opinion.links"></app-links-display>
</div>

<div>
  <app-tags-display [tags]="opinion.targets"> </app-tags-display>
</div>
