:host {
  line-height: 1.5rem;
  max-height: 100%;
}

.more-button {
  color: gray;
}

.margin-right-5 {
  margin-right: 5px;
}

.pre-line {
  white-space: pre-line;
}

.flow-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
