.badge {
  padding: 0.25rem;
  margin-right: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.red {
  color: red;
}

.dark-red {
  color: darkred;
}

.gray {
  color: gray;
}

.green {
  color: lightgreen;
}
