.badge {
  padding: 0.25rem;
  margin-right: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.red-background {
  background-color: lightcoral;
}

.orange-background {
  background-color: lightsalmon;
}

.yellow-background {
  background-color: lightyellow;
}

.green-background {
  background-color: lightgreen;
}
