<div>Links</div>

<div>
  <a target="_blank" href="{{ stock?.irAddress }}">
    Investor Relations<mat-icon>open_in_new</mat-icon>
  </a>
</div>

<ng-template #quarterReport>
  <div *ngIf="earningReport?.reportLink">
    <a target="_blank" href="{{ earningReport?.reportLink }}">
      {{ earningReport?.year }} - {{ earningReport?.quarter }} Earnings Report
      <mat-icon>open_in_new</mat-icon>
    </a>
  </div>
</ng-template>

<div *ngIf="earningReport?.pressReleaseLink">
  <a target="_blank" href="{{ earningReport?.pressReleaseLink }}">
    Press Release
    <mat-icon>open_in_new</mat-icon>
  </a>
</div>

<div *ngIf="earningReport?.slidesLink">
  <a target="_blank" href="{{ earningReport?.slidesLink }}">
    Slides <mat-icon>open_in_new</mat-icon>
  </a>
</div>

<div *ngIf="stock">
  <a
    target="_blank"
    href="{{ 'https://seekingalpha.com/symbol/' + stock.ticker }}"
  >
    Seeking Alpha
    <mat-icon>open_in_new</mat-icon>
  </a>
</div>

<div *ngIf="stock">
  <a
    target="_blank"
    href="{{ 'https://elite.finviz.com/quote.ashx?t=' + stock.ticker }}"
  >
    Finviz
    <mat-icon>open_in_new</mat-icon>
  </a>
</div>

<div *ngIf="stock">
  <a
    target="_blank"
    href="{{
      'https://www.google.com/finance/quote/' + stock.ticker + ':NYSE'
    }}"
  >
    Google Stock <mat-icon>open_in_new</mat-icon>
  </a>
</div>
