<app-tags-display [tagUuids]="allTags"></app-tags-display>

<div class="index-display">
  <div>
    S&P 500
    <app-price-display [price]="sp500Stats"></app-price-display>
  </div>

  <div>
    Nasdaq Composite
    <app-price-display [price]="nasdaqStats"></app-price-display>
  </div>
</div>

<app-title-menu>
  <div header-2>Macro</div>
</app-title-menu>
<div>
  🔶
  <b
    >S&P 500 <app-price-display [price]="sp500Stats"></app-price-display>
    Nasdaq
    <app-price-display [price]="nasdaqStats"></app-price-display
  ></b>
  ➡️ {{ overviewNews?.[0]?.title }}
</div>
<div *ngFor="let news of macroNews">
  <app-stock-image-display [tag]="news?.tags?.[0]"></app-stock-image-display>
  🔶 <b>{{news.tags?.[0] | tagdisplay}}</b> ➡️ {{ news.title }}
  <ul>
    <li *ngFor="let item of news?.content">🔹 {{ item }}</li>
  </ul>

  <ul>
    <li *ngFor="let item of news?.stats">
      🔹 <app-stats-display [statsDisplay]="item"></app-stats-display>
    </li>
  </ul>
</div>

<app-title-menu>
  <div header-2>Industry</div>
</app-title-menu>
<div *ngFor="let news of industryNews">
  <app-stock-image-display [tag]="news.tags?.[0]"></app-stock-image-display>
  🔶 <b>{{news.tags?.[0]}}</b> ➡️ {{ news.title }}

  <ul>
    <li *ngFor="let item of news?.content">🔹 {{ item }}</li>
  </ul>

  <ul>
    <li *ngFor="let item of news?.stats">
      🔹 <app-stats-display [statsDisplay]="item"></app-stats-display>
    </li>
  </ul>
</div>

<app-title-menu>
  <div header-2>Stock</div>
</app-title-menu>
<div *ngFor="let news of stockNews">
  <app-stock-image-display [tag]="news.tags?.[0]"></app-stock-image-display>
  🔶 <b>{{ news.tags?.[0] | tagdisplay }}</b> ➡️ {{ news.title }}

  <ul>
    <li *ngFor="let item of news?.content">🔹 {{ item }}</li>
  </ul>

  <ul>
    <li *ngFor="let item of news?.stats">
      🔹 <app-stats-display [statsDisplay]="item"></app-stats-display>
    </li>
  </ul>

  <div *ngIf="news?.sourceLink">🔗 Source: {{ news.sourceLink }}</div>
</div>

<app-title-menu *ngIf="earningsNews?.length > 0">
  <h1 header-1>Earnings</h1>
</app-title-menu>
<div *ngFor="let news of earningsNews">
  <app-stock-image-display [tag]="news.tags?.[0]"></app-stock-image-display>
  🔶 <b>{{news.tags?.[0]}}</b> ➡️ {{ news.title }}

  <ul>
    <li *ngFor="let item of news?.content">{{ item }}</li>
  </ul>

  <ul>
    <li *ngFor="let item of news?.stats">
      <app-stats-display [statsDisplay]="item"></app-stats-display>
    </li>
  </ul>
</div>
