<app-card *ngIf="showDisclaimer !== 'false'">
  Disclaimer: The information provided on this finance website is for general
  informational purposes only. It is not intended to be a substitute for
  professional financial advice and should not be relied upon as such. The
  content on this website is based on general principles and may not be
  applicable to your individual financial situation. Any investment or financial
  decision should be made after consulting with a qualified professional. The
  creators of this website do not guarantee the accuracy or completeness of the
  information provided, and are not liable for any losses or damages arising
  from the use of the information provided on this website. The user of this
  website is solely responsible for any and all actions taken based on the
  information provided on this website.
  <button mat-button (click)="click()">I understand</button>
</app-card>
