<div class="bg-img">
  <app-title-menu>
    <div header-1>About</div>
  </app-title-menu>

  <app-card>
    <app-title-menu>
      <div header-1>Mission</div>
    </app-title-menu>

    <div>
      Invesdea is founded in 2022 by engineers passionate about stock investing
      and software building.
    </div>
    <div>
      Investing is a life-long journey, and it could be bumpy. We believe our
      tools and services can help anyone achieve their financial freedom more
      quickly and smoothly.
    </div>
  </app-card>

  <app-card>
    <app-title-menu>
      <div header-1>Milestones and Goals</div>
    </app-title-menu>

    <div>1. Provide latest and most important financial news.</div>

    <div>2. Crowd-source expert opinions and market sentiment.</div>

    <div>
      3. Create a community of investors to share ideas and learn from each.
    </div>

    <div>
      4. Build customizable tools tailored to every individual investor.
    </div>
  </app-card>
</div>
