<app-title-menu>
  <div title>About</div>
</app-title-menu>

<app-card>
  <app-title-menu>
    <div title>Mission</div>
  </app-title-menu>

  <div>
    Woozee Investment is founded in 2022 by engineers passionate about stock
    investing and software building.
  </div>
  <div>
    Investing is a life-long journey, and it could be bumpy. We believe our
    tools and services can help anyone achieve their financial freedom more
    quickly and smoothly.
  </div>
</app-card>

<app-card>
  <app-title-menu>
    <div title>Milestones and Goals</div>
  </app-title-menu>

  <div>1. Provide the latest news and critical financial data.</div>

  <div>
    2. Generate advanced insights using technology such as big data analytics,
    infographic visualization, and machine learning.
  </div>

  <div>3. Build customizable tools tailored to every individual investor.</div>

  <div>4. Create a platform for sharing and crowdsourcing ideas.</div>
</app-card>
