<app-card *ngFor="let stockSentiment of sentiments" class="card">
  <div>
    <div class="container">
      <div class="left">
        {{ stockUuidToStockMap.get(stockSentiment[0])?.displayName }}
      </div>
      <div class="right">
        <app-opinion-display
          [sentiment]="stockSentiment[1]"
        ></app-opinion-display>
      </div>
    </div>
  </div>

  <div *ngFor="let note of stockUuidToNotesMap.get(stockSentiment[0])">
    <app-divider></app-divider>
    <app-note-container [note]="note"></app-note-container>
  </div>
</app-card>

<button mat-icon-button class="float-button" (click)="addNote()">
  <mat-icon>edit_square</mat-icon>
</button>
