<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label> Stocks </ng-template>

    <div *ngIf="stockDisplays.length === 0" class="flex justify-center mt-20">
      <button mat-button routerLink="/news">Discover Stocks</button>
    </div>

    <div
      class="mt-5 tab-content"
      *ngFor="let item of stockDisplays; let i = index"
    >
      <span class="text-lg">
        {{ i + 1 }}.

        <app-tradable-display
          [tradable]="item"
          [tickerOnly]="true"
          [prices]="pricesServices.getPriceByTicker(item?.ticker) | async"
          [showPercentage]="'true'"
        ></app-tradable-display>
      </span>
      <span>
        <app-interaction-bar
          class="inline-block"
          [interactions]="item"
          [targetUuid]="item?.ticker.toLowerCase() + ':tradable'"
          [displayTop3]="true"
        ></app-interaction-bar>
      </span>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> Tags </ng-template>

    <div>
      <button mat-button (click)="openCreateNewTagDialog()">Create Tag</button>
    </div>

    <div *ngIf="!tags || tags.length === 0" class="flex justify-center mt-20">
      <div>
        <button mat-button routerLink="/news">Discover Tags</button>
      </div>
    </div>

    <div class="mt-5" *ngFor="let tag of tags; let i = index">
      <div>
        {{ i + 1 }}.
        <app-tag-display [tag]="tag"></app-tag-display>

        <span *ngIf="!environment.production && tag?.votes && tag?.votes !== 0">
          {{ tag.votes > 0 ? emojiUnicode.thumbUp : emojiUnicode.thumbDown }}
          {{ tag?.votes }}
        </span>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
