<h3>Bullish</h3>
<div *ngFor="let opinion of opinions">
  <app-card>
    <app-note-container [note]="opinion"></app-note-container>
  </app-card>
</div>

<h3>Neutral</h3>
<div *ngFor="let opinion of opinions">
  <app-card>
    <app-note-container [note]="opinion"></app-note-container>
  </app-card>
</div>

<h3>Bearish</h3>
<div *ngFor="let opinion of opinions">
  <app-card>
    <app-note-container [note]="opinion"></app-note-container>
  </app-card>
</div>

<button mat-icon-button class="float-button" (click)="addNote()">
  <mat-icon>edit_square</mat-icon>
</button>
