<div *ngIf="stock" class="container">
  <div class="row">
    <div *ngIf="!hideLabel">Market Cap</div>
    <div class="stats">
      <span>
        {{ stock.marketCap | siUnit: 2 | undefined }}
      </span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">
      Revenue <span class="gray-font">(4 quarters)</span>
    </div>
    <div class="stats">
      <span>{{ trailing12MonthsSales | siUnit: 2 | undefined }}</span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">
      P / S <span class="gray-font">(Market Cap / Revenue)</span>
    </div>
    <div class="stats">
      {{ stock.marketCap / trailing12MonthsSales | siUnit: 2 | undefined }}
    </div>
  </div>

  <div class="stats">{{ unicode.NextLine }}</div>

  <div class="row">
    <div *ngIf="!hideLabel">
      Operating Income <span class="gray-font">(4 quarters)</span>
    </div>
    <div class="stats">
      <span>{{ trailing12MonthsOI | siUnit: 2 | undefined }}</span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">P / OI</div>
    <div class="stats">
      {{ stock.marketCap / trailing12MonthsOI | siUnit: 2 | undefined }}
    </div>
  </div>

  <div class="stats">{{ unicode.NextLine }}</div>

  <div class="row">
    <div *ngIf="!hideLabel">
      Sales Growth <span class="gray-font">(Latest Quarter)</span>
    </div>
    <div class="stats">
      {{
        (earningReports[0]?.revenue - earningReports[4]?.revenue) /
          earningReports[4]?.revenue
          | siUnit: 2
          | percent
          | undefined
      }}
    </div>
  </div>
</div>
<!-- <div>
  {{ stockAnalysis.marketCap | siUnit: 2 | undefined }}
  /
  {{ earningsService?.calculatePsRatio(stockAnalysis) | siUnit: 2 | undefined }}
</div> -->
