<div *ngIf="stock" class="container">
  <div class="row">
    <div *ngIf="!hideLabel">Market Cap</div>
    <div class="stats">
      <span>
        {{ stock.marketCap | siUnit: 2 | undefined }}
      </span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">Gross Profit / Market Cap</div>
    <div class="stats">
      {{
        stock.quarterGrossProfit / stock.marketCap
          | siUnit: 2
          | percent
          | undefined
      }}
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">Operating Income / Market Cap</div>
    <div class="stats">
      {{ stock.oiToMarketCapRatio | siUnit: 4 | percent: "1.0-2" | undefined }}
    </div>
  </div>
</div>
