<div *ngIf="stock" class="container">
  <div class="row" *ngIf="!compareDisplay">
    <div *ngIf="!hideLabel">Market Cap</div>
    <div class="stats">
      <span>
        {{ stock.marketCap | siUnit: 2 | undefined }}
      </span>
    </div>
  </div>

  <div class="row sub-title">
    <div *ngIf="!hideLabel">Year (TTM)</div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">P / S</div>
    <div class="stats">
      {{ stock.marketCap / stock.ttmRevenue | siUnit: 0 | undefined }}
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">P / Gross Profit</div>
    <div class="stats">
      {{ stock.marketCap / stock.ttmGrossProfit | siUnit: 0 | undefined }}
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">P / Operating Income</div>
    <div class="stats">
      {{
        (stock.marketCapToOiRatio > 0 ? stock.marketCapToOiRatio : undefined)
          | siUnit: 0
          | undefined
      }}
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">P / E</div>
    <div class="stats">
      {{
        (stock.marketCap / stock.ttmNetIncome > 0
          ? stock.marketCap / stock.ttmNetIncome
          : undefined
        )
          | siUnit: 0
          | undefined
      }}
    </div>
  </div>
</div>
