<div class="container">
  <div>
    <div>美股避雷小分队</div>
    <div>Welcome to the Youtube f Channel</div>
  </div>

  <div class="icon-list">
    <div>
      <mat-icon>shield</mat-icon>
      Risk Management
    </div>

    <div>
      <mat-icon>money</mat-icon>
      Finance News
    </div>

    <div>
      <mat-icon>assessment</mat-icon>
      Stock Analysis
    </div>

    <div>
      <mat-icon>rocket_launch</mat-icon>
      Investment Ideas
    </div>
  </div>

  <div>{{ recordingDate | date: "yyyy-MM-dd" }}</div>
</div>
