<div class="container">
  <div>
    <div>WooZee Invest</div>
    <div>Welcome to 无极投资频道</div>
  </div>

  <div class="icon-list">
    <div>
      <mat-icon>money</mat-icon>
      Finance News
    </div>

    <div>
      <mat-icon>assessment</mat-icon>
      Stock Analysis
    </div>

    <div>
      <mat-icon>light_bulb</mat-icon>
      Investor Ideas
    </div>

    <div>
      <mat-icon>rocket_launch</mat-icon>
      Investment Booster
    </div>
  </div>

  <div>{{ recordingDate | date: "yyyy-MM-dd" }}</div>
</div>
