<app-card>
  <app-title-menu>
    <div header-2>{{ factType }}</div>

    <div buttons>
      <button mat-icon-button [matMenuTriggerFor]="factMenu">
        <mat-icon>more_horiz</mat-icon>
      </button>

      <mat-menu #factMenu="matMenu">
        <button mat-menu-item type="button" (click)="onRiskCatalystClick()">
          <mat-icon>difference</mat-icon>
        </button>

        <button mat-menu-item type="button" (click)="onCompareClick()">
          <mat-icon>compare</mat-icon>
        </button>

        <button
          mat-menu-item
          type="button"
          (click)="showDetails = !showDetails"
        >
          <mat-icon *ngIf="showDetails">expand_less</mat-icon>
          <mat-icon *ngIf="!showDetails">expand_more</mat-icon>
        </button>
      </mat-menu>
    </div>
  </app-title-menu>

  <div *ngIf="showDetails">
    <ng-content></ng-content>
  </div>
</app-card>
