<app-card>
  <app-title-menu>
    <div title>
      {{ factType }}
    </div>

    <div buttons>
      <button mat-icon-button type="button" (click)="onCompareClick()">
        <mat-icon>compare</mat-icon>
      </button>

      <button
        mat-icon-button
        type="button"
        (click)="showDetails = !showDetails"
      >
        <mat-icon *ngIf="showDetails">expand_less</mat-icon>
        <mat-icon *ngIf="!showDetails">expand_more</mat-icon>
      </button>
    </div>
  </app-title-menu>

  <div *ngIf="showDetails">
    <ng-content></ng-content>
  </div>
</app-card>
