<ul>
  <li>
    🔸 Quarterly Revenue ($):
    {{ stock.quarterRevenue | siUnit : 2 | undefined }},

    <app-movement-display
      [previousData]="stock.previousQuarterRevenue"
      [currentData]="stock.quarterRevenue"
    ></app-movement-display>
    YoY from
    {{ stock.previousQuarterRevenue | siUnit : 2 | undefined }}
  </li>

  <li>
    🔸 Trailing 12 Months Revenue ($):
    {{ stock.ttmRevenue | siUnit : 2 | undefined }},

    <app-movement-display
      [previousData]="stock.previousTtmRevenue"
      [currentData]="stock.ttmRevenue"
    ></app-movement-display>
    YoY
  </li>
</ul>

<!-- <h3>Forecast</h3> -->
