<div class="flex">
  <app-catalyst-level-display
    [catalystLevel]="catalyst.level"
  ></app-catalyst-level-display>

  {{ catalyst.name || catalyst.content }}

  <span class="action-buttons">
    <!-- <span class="gray-text" *ngIf="risk.updatedTime">{{
      risk.updatedTime | date: shortDate
    }}</span> -->

    <span *ngIf="!showCategory">
      <button mat-icon-button type="button" (click)="expanded = !expanded">
        <mat-icon *ngIf="expanded">expand_less</mat-icon>
        <mat-icon *ngIf="!expanded">expand_more</mat-icon>
      </button>
    </span>
  </span>
</div>

<div class="flex" *ngIf="showCategory">
  <mat-icon>trending_up</mat-icon>

  <ng-container *ngFor="let item of catalyst.markets">
    <app-market-display [marketType]="item"></app-market-display>
  </ng-container>

  <span *ngFor="let item of catalyst?.tickers">
    <app-ticker-display [ticker]="item"></app-ticker-display>
  </span>

  <span class="action-buttons">
    <app-fact-type-display [factType]="catalyst.type" class="action-buttons">
    </app-fact-type-display>

    <button mat-icon-button type="button" (click)="expanded = !expanded">
      <mat-icon *ngIf="expanded">expand_less</mat-icon>
      <mat-icon *ngIf="!expanded">expand_more</mat-icon>
    </button>
  </span>
</div>

<div *ngIf="expanded">
  <ul>
    <li *ngFor="let item of catalyst.notes">
      <app-note [note]="item" [isExpanded]="false"> </app-note>
    </li>
  </ul>
</div>
