<div class="flex">
  <app-catalyst-level-display
    [catalystLevel]="catalyst.level"
  ></app-catalyst-level-display>

  <span class="flex" *ngIf="showCategory">
    <span *ngFor="let item of catalyst?.tickers">
      <app-ticker-display [ticker]="item"></app-ticker-display>
    </span>

    <span *ngFor="let item of catalyst?.markets">
      <app-market-display [marketType]="item"></app-market-display>
    </span>
  </span>

  {{ catalyst.name || catalyst.content }}

  <span class="action-buttons">
    <!-- <span class="gray-text" *ngIf="risk.updatedTime">{{
      risk.updatedTime | date: shortDate
    }}</span> -->

    <button
      mat-icon-button
      type="button"
      (click)="expanded = !expanded"
      [disabled]="!catalyst.notes"
    >
      <mat-icon *ngIf="expanded">expand_less</mat-icon>
      <mat-icon *ngIf="!expanded">expand_more</mat-icon>
    </button>
  </span>
</div>

<div *ngIf="expanded">
  <ul>
    <li *ngFor="let item of catalyst.notes">
      <app-note [note]="item" [isExpanded]="false"> </app-note>
    </li>
  </ul>
</div>
