<div class="logo-image" *ngIf="earnings.imageLinks">
  <!-- <app-image-display
        [imageLink]="
          stockUuidToStockMap.get(stockUuid)?.largeLogoLink ||
          stockUuidToStockMap.get(stockUuid)?.logoLink
        "
      >
      </app-image-display> -->
  <img [src]="earnings?.imageLinks[0]" />
</div>

<div>
  💰 Quarterly Earnings ended on
  <app-date-display [date]="endDate"></app-date-display>
</div>

<div *ngFor="let item of otherData">
  <span *ngIf="item.value">🔷</span>
  <app-stats-display [statsDisplay]="item"></app-stats-display>
</div>
<div *ngIf="grossMargin">
  🔷 Gross Margin: {{ grossMargin | percent : "1.1-2" }}
</div>
<div *ngIf="operatingMargin">
  🔷 Operating Margin: {{ operatingMargin | percent : "1.1-2" }}
</div>
<div *ngIf="netMargin">🔷 Net Margin: {{ netMargin | percent : "1.1-2" }}</div>

<div class="mt-2" *ngIf="earnings?.quotes">
  <div *ngFor="let earnings of earnings.quotes">
    💬
    <strong *ngIf="earnings.name">{{ earnings.name }}: </strong>
    <span>{{ earnings.contents }}</span>
  </div>
</div>

<div class="mt-2" *ngIf="earnings?.documents?.length > 0">
  <div *ngFor="let document of earnings?.documents">
    🔗
    <a href="{{ document.link }}" target="_blank"
      ><strong>{{ document.name }}</strong
      >: {{ document.link }}</a
    >
  </div>
</div>
