.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  font-size: 2rem;
  line-height: 3rem;
}

.red-text {
  color: rgb(223, 8, 8);
}

.orange-text {
  color: rgb(248, 143, 56);
}

.green-text {
  color: rgb(23, 184, 17);
}
