<ng-container *ngIf="note">
  <div>
    <span *ngIf="note.createdDate">
      <app-date-display [date]="note.createdDate"></app-date-display>
    </span>

    <span *ngFor="let item of note?.tagUuids" class="tag">
      <app-tag-display [tag]="item"></app-tag-display>
    </span>

    <span>
      <app-people-display
        *ngIf="note.authorUuids"
        [peopleUuids]="note.authorUuids"
      ></app-people-display>
    </span>
  </div>

  <div *ngIf="note.title">
    <strong>{{ note.title }}</strong>
  </div>

  <div *ngIf="note.content">
    <app-content-display *ngIf="note.content" [content]="note.content">
    </app-content-display>
  </div>

  <ng-container *ngIf="note?.data">
    <div *ngFor="let item of note.data">
      <app-stats-display [statsDisplay]="item"></app-stats-display>
    </div>
  </ng-container>

  <div *ngIf="note.links">
    <app-links-display [links]="note.links"></app-links-display>
  </div>
</ng-container>
<!-- <ng-container [ngSwitch]="note.noteType">
  <app-opinion-item-display
    *ngSwitchCase="'opinion'"
    [opinion]="note"
    [expanded]="true"
    [shortVersion]="shortVersion"
  ></app-opinion-item-display>

  <ng-container *ngSwitchCase="'number'">
    <div>
      <app-stats-display [statsDisplay]="note"></app-stats-display>
    </div>
  </ng-container>
  <app-list-display *ngSwitchCase="'list'" [list]="note"> </app-list-display>
  <app-comparison-note *ngSwitchCase="'vote'" [comparisonData]="note">
  </app-comparison-note>
</ng-container> -->
