<div *ngIf="business?.overview">
  <div class="label">Overview</div>
  <div *ngFor="let item of business?.overview">{{ item }}</div>
</div>

<div *ngIf="business?.products">
  <h3 class="label">Products</h3>
  <ul>
    <li *ngFor="let item of business?.products">{{ item }}</li>
  </ul>
</div>

<div *ngIf="business?.revenues">
  <div class="label">Revenue Composition</div>
  <app-revenue-composition-display
    [revenues]="business?.revenues"
  ></app-revenue-composition-display>
</div>

<div *ngIf="business?.markets">
  <div class="label">Industries and Competitors</div>
  <ul>
    <li *ngFor="let item of business?.markets">
      <strong>{{ item }}:</strong>

      <span *ngFor="let competitor of competitorMap.get(item)">
        {{ competitor.shortName || competitor.name }};
      </span>
    </li>
  </ul>
</div>

<div>
  <div></div>
</div>

<div *ngIf="business?.competitiveAdvantages">
  <div class="label">Competitive Advantages</div>
  <span *ngFor="let item of business?.competitiveAdvantages">
    <span class="badge">{{ item.type }}</span>
  </span>
</div>

<div *ngIf="business?.missions">
  <div class="label">Mission</div>
  <div *ngFor="let item of business?.missions">{{ item }}</div>
</div>

<div *ngIf="business?.productBenefits">
  <div class="label">Problems Solved</div>
  <div *ngFor="let item of business?.productBenefits">
    <span class="badge">{{ item.type }}</span>
    <span *ngIf="item.note"> - {{ item.note }}</span>
  </div>
</div>

<ng-container *ngIf="business?.growthStrategy">
  <div class="label">Growth Strategies</div>
  <div *ngFor="let item of business?.growthStrategy">- {{ item }}</div>
</ng-container>

<!-- <div *ngIf="expanded">
  <ul>
    <li *ngFor="let item of catalyst.notes">
      <app-note [note]="item" [isExpanded]="false"> </app-note>
    </li>
  </ul>
</div> -->
