<div *ngIf="stock?.business?.overview">
  <div class="label">Overview</div>
  <div *ngFor="let item of stock?.business?.overview">{{ item }}</div>
</div>

<div *ngIf="stock?.business?.products">
  <h3 class="label">Products</h3>
</div>

<div *ngIf="stock?.business?.revenues">
  <div class="label">Revenue Composition</div>
  <app-revenue-composition-display
    [revenues]="stock?.business?.revenues"
  ></app-revenue-composition-display>
</div>

<div *ngIf="industryTypes">
  <div class="label">Industries and Competitors</div>
  <ul>
    <li *ngFor="let item of industryTypes">
      <strong>{{ item }}:</strong>

      <app-stock-badge-list
        [isLink]="'true'"
        [stocks]="competitorMap.get(item)"
      ></app-stock-badge-list>
    </li>
  </ul>
</div>

<div>
  <div></div>
</div>

<div *ngIf="stock?.business?.competitiveAdvantages">
  <div class="label">Competitive Advantages</div>
  <span *ngFor="let item of stock?.business?.competitiveAdvantages">
    <span class="badge">{{ item.type }}</span>
  </span>
</div>

<div *ngIf="stock?.business?.missions">
  <div class="label">Mission</div>
  <div *ngFor="let item of stock?.business?.missions">{{ item }}</div>
</div>

<div *ngIf="stock?.business?.productBenefits">
  <div class="label">Problems Solved</div>
  <div *ngFor="let item of stock?.business?.productBenefits">
    <span class="badge">{{ item.type }}</span>
    <span *ngIf="item.note"> - {{ item.note }}</span>
  </div>
</div>

<ng-container *ngIf="stock?.business?.growthStrategy">
  <div class="label">Growth Strategies</div>
  <div *ngFor="let item of stock?.business?.growthStrategy">- {{ item }}</div>
</ng-container>

<!-- <div *ngIf="expanded">
  <ul>
    <li *ngFor="let item of catalyst.notes">
      <app-note [note]="item" [isExpanded]="false"> </app-note>
    </li>
  </ul>
</div> -->
