$headerHeight: 7vh;
$contentHeight: 88vh;
$footerHeight: 5vh;

.container {
  display: grid;
  grid-template-columns: 100%;

  > div {
    border: 3px solid lightgray;
  }

  .header {
    height: $headerHeight;
  }

  .content {
    height: $contentHeight;
  }

  .footer {
    height: $footerHeight;
  }
}

.content {
  display: grid;

  &.dynamic-columns {
    grid-template-columns: 1fr 1fr;
  }

  .app-section {
    height: $contentHeight;
    overflow: scroll;
  }
}

iframe {
  height: $contentHeight;
  width: 100%;
}
