<div>
  <h1>七大投资方向涵盖七大科技公司</h1>
  <h2>快速推荐21支长期持有科技股</h2>

  <div class="expand-button">
    <button mat-button (click)="isAllCardOpen = !isAllCardOpen">
      展开全部
    </button>
  </div>

  <mat-accordion multi>
    <mat-expansion-panel
      [expanded]="isAllCardOpen"
      (opened)="(true)"
      (closed)="(false)"
    >
      <mat-expansion-panel-header> 适用人群 </mat-expansion-panel-header>
      <ol>
        <li>不太会投资或者不想自己选股的观众</li>
        <li>小孩才做选择，所有大的科技公司都想要</li>
        <li>愿意长期持有，投资未来</li>
      </ol>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="isAllCardOpen"
      (opened)="(true)"
      (closed)="(false)"
    >
      <mat-expansion-panel-header> 选择原则 </mat-expansion-panel-header>
      <ol>
        <li>产品需求短期不会饱和，或者公司不停扩张到新领域</li>
        <li>产品将来或已经成为我们生活的“必需品”</li>
        <li>年轻人普遍向往，富有创造力的公司</li>
        <li>同时押注中美两个全球最大的经济体</li>
      </ol>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="isAllCardOpen"
      (opened)="(true)"
      (closed)="(false)"
    >
      <mat-expansion-panel-header> 七大投资方向 </mat-expansion-panel-header>

      <mat-accordion multi>
        <mat-expansion-panel
          class="margin-top-20"
          *ngFor="let type of sevenTypes; index as i"
          [expanded]="isAllCardOpen"
          (opened)="(true)"
          (closed)="(false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ i + 1 }}. {{ growthTypes[type].chinese }}
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div class="margin-top-20" *ngFor="let stock of stockMap[type]">
              <app-stock-display
                [showStock]="isAllCardOpen"
                [stock]="stock"
              ></app-stock-display>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>结语</mat-expansion-panel-header>
      <ul>
        <li>WooZee-Stock.web.app</li>
        <li>欢迎提出意见或建议</li>
        <li>点赞！订阅！打开小铃铛！</li>
        <li>谢谢！！！</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
