:host {
  line-height: 1.5rem;
}

.gray-text {
  color: lightgray;
  font-size: small;
}

.border {
  border: 0.5px solid lightgray;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}
