:host {
  line-height: 1.5rem;
}

.gray-text {
  font-size: small;
}

.time {
  margin-left: 0.5rem;
}

.flex {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  gap: 0.1rem;

  .news {
    margin-left: auto;
  }
}

.expanded-display {
  margin-top: 1rem;
  margin-left: 1rem;
}
