:host {
  line-height: 1.5rem;
}

.gray-text {
  font-size: small;
}

.time {
  margin-left: 0.5rem;
}

.border {
  border: 0.5px solid lightgray;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  align-items: center;

  .news {
    margin-left: auto;
  }
}

.expanded-display {
  margin-top: 1rem;
  margin-left: 1rem;
}
