<div class="flex">
  <span>
    <app-badge *ngIf="news.type">
      <span>{{ news.type }}</span>
    </app-badge>
  </span>

  <span *ngFor="let ticker of news?.tickers">
    <app-ticker-display [ticker]="ticker"></app-ticker-display>
  </span>

  <span class="news">
    <app-badge *ngIf="news.source">
      <a [href]="news.sourceLink">{{ news.source }}</a>
    </app-badge>
  </span>

  <span class="gray-text time" *ngIf="news.date">{{
    news.date | date: shortDate
  }}</span>

  <button mat-icon-button type="button" (click)="expanded = !expanded">
    <mat-icon *ngIf="expanded">expand_less</mat-icon>
    <mat-icon *ngIf="!expanded">expand_more</mat-icon>
  </button>
</div>

<div>
  <span>
    {{ news.content }}
  </span>
</div>

<div *ngIf="expanded" class="expanded-display">
  <ul>
    <li *ngFor="let item of news.notes">
      <app-note [note]="item" [isExpanded]="false"> </app-note>
    </li>
  </ul>

  <app-card *ngIf="news.catalysts && news.catalysts.length > 0">
    <div>Catalysts</div>
    <app-catalyst-list [catalysts]="news.catalysts"></app-catalyst-list>
  </app-card>

  <app-card *ngIf="news.risks && news.risks.length > 0">
    <div>Risks</div>
    <app-risk-list [risks]="news.risks" [showCategory]="true"></app-risk-list>
  </app-card>
</div>

<div class="border"></div>
