.stock-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  grid-gap: 1rem;
  align-items: top;
}

.number-display {
  text-align: right;
}

.low-gray {
  color: lightgray;
}
