.stock-row {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 2fr 2fr;
  grid-gap: 1rem;
  align-items: center;
}

.number-display {
  text-align: right;
}

.low-gray {
  color: lightgray;
}
