<ng-container *ngIf="expanded; else shortVersion">
  <div class="image-display">
    <app-ui-images-display [images]="imageLinks"></app-ui-images-display>
  </div>

  <div class="xl-text">
    <span>🚨 {{ author?.displayName }}</span>

    <span *ngIf="author && organization"> of </span>

    <span>{{ organization?.displayName }}</span>

    <span> is </span>

    <span>
      <app-opinion-display [opinion]="opinion"></app-opinion-display>
    </span>

    <span> on </span>

    <span *ngFor="let item of targets">{{ item?.displayName }} </span>

    <span> 🚀 </span>
  </div>

  <div class="h3" *ngIf="opinion.title">⚡ {{ opinion.title }}</div>

  <app-content-display [content]="opinion.content"></app-content-display>

  <span class="more-button" *ngIf="opinion?.parentUuid" (click)="showParent()"
    >more facts</span
  >

  <div *ngIf="parentExpanded">
    <app-card>
      <app-note-container [note]="parentNote"> </app-note-container>
    </app-card>
  </div>
</ng-container>

<ng-template #shortVersion>
  <div>
    🚨 {{ opinion.title }}

    <span
      class="more-button"
      *ngIf="opinion?.content || opinion?.links"
      (click)="expanded = !expanded"
      >more</span
    >
  </div>

  <div *ngIf="expanded" class="pre-line">
    {{ opinion.content }}

    <app-links-display [links]="opinion?.links"></app-links-display>
  </div>
</ng-template>
