:host {
  line-height: 1.5rem;
  max-height: 100%;
}

.more-button {
  color: gray;
}

.margin-right-5 {
  margin-right: 5px;
}

.pre-line {
  white-space: pre-line;
}

.flow-display {
  display: flex;
  max-height: 200px;

  > div {
    display: flex;
    justify-content: center;
  }
}

.xl-text {
  font-size: 1.3rem;
}

.xxl-text {
  font-size: 1.4rem;
}
