:host {
  line-height: 1.5rem;
  max-height: 100%;
}

.more-button {
  color: gray;
}

.margin-right-5 {
  margin-right: 5px;
}

.pre-line {
  white-space: pre-line;
}

.flow-display {
  max-height: 200px;
}

.xl-text {
  font-size: medium;
}

.xxl-text {
  font-size: 1.4rem;
}

.image-display {
  max-height: 200px;
}

.emoji-display {
  margin-right: 3px;
}

.news-image {
  display: flex;
  max-height: 150px;
  justify-content: center;
  margin: 5px 0;
}
