<ng-container *ngIf="expanded; else shortVersion">
  <div class="news-image">
    <app-ui-images-display [images]="imageLinks"></app-ui-images-display>
  </div>

  <div class="xl-text">
    <span>{{ author?.displayName }}</span>

    <span *ngIf="author && organization"> of </span>

    <span *ngIf="author || organization"
      >{{ organization?.displayName }}:
    </span>

    <span *ngFor="let item of opinion?.emotions">
      <app-opinion-display [opinionType]="item"></app-opinion-display>
    </span>

    <span> on </span>

    <span *ngFor="let item of targets; last as last"
      >{{ item?.displayName }}<span *ngIf="!last">, </span>
    </span>

    <span class="emoji-display">
      <app-emoji-display [emotion]="opinion.rating"> </app-emoji-display>
    </span>
  </div>

  <div class="h3" *ngIf="opinion.title">📌 {{ opinion.title }}</div>

  <app-content-display [content]="opinion.content"></app-content-display>

  <div *ngIf="opinion?.imageLinks">
    <app-image-display [imageLink]="opinion.imageLinks[0]"></app-image-display>
  </div>

  <span
    class="more-button"
    *ngIf="opinion?.childrenUuids"
    (click)="showParent()"
    >more facts</span
  >

  <div *ngIf="parentExpanded">
    <ng-container *ngFor="let childNote of childrenNotes">
      <app-note-container [note]="childNote" [shortVersion]="'true'">
      </app-note-container>
    </ng-container>
  </div>
</ng-container>

<ng-template #shortVersion>
  <div>
    🚨 {{ opinion.title }}

    <span
      class="more-button"
      *ngIf="opinion?.content || opinion?.links"
      (click)="expanded = !expanded"
      >more</span
    >
  </div>

  <div *ngIf="expanded" class="pre-line">
    {{ opinion.content }}

    <app-links-display [links]="opinion?.links"></app-links-display>
  </div>
</ng-template>
