<ng-container *ngIf="expanded; else shortVersion">
  <ng-container *ngIf="authorName">
    <strong>
      {{ authorName
      }}<span *ngIf="organizationName"> of {{ organizationName }}</span>
    </strong>
  </ng-container>

  <ng-container *ngIf="opinion?.imageLinks">
    <app-ui-images-display [images]="imageLinks"></app-ui-images-display>

    <div *ngFor="let item of opinion.imageLinks">
      <app-image-display [imageLink]="item"></app-image-display>
    </div>
  </ng-container>

  <app-content-display [content]="opinion.content"></app-content-display>

  <span
    class="more-button"
    *ngIf="opinion?.childrenUuids"
    (click)="showParent()"
    >more facts</span
  >

  <div *ngIf="parentExpanded">
    <ng-container *ngFor="let childNote of childrenNotes">
      <app-note-container [note]="childNote" [shortVersion]="'true'">
      </app-note-container>
    </ng-container>
  </div>
</ng-container>

<ng-template #shortVersion>
  <div>
    🚨 {{ opinion.title }}

    <span
      class="more-button"
      *ngIf="opinion?.content || opinion?.links"
      (click)="expanded = !expanded"
      >more</span
    >
  </div>

  <div *ngIf="expanded" class="pre-line">
    {{ opinion.content }}

    <app-links-display [links]="opinion?.links"></app-links-display>
  </div>
</ng-template>
