<app-title-menu>
  <div header-1>Markets</div>
</app-title-menu>

<app-card>
  <div class="table">
    <div class="table-head">
      <div>Title</div>
      <div>Region</div>
      <div>Opinion</div>
    </div>

    <div *ngFor="let item of macros" class="table-row">
      <div>
        <div>{{ item.title }}</div>
        <div>
          <app-badge *ngFor="let tag of item.tags">{{ tag }}</app-badge>
        </div>
      </div>
      <div>
        <span *ngFor="let region of item.regions">
          <app-badge
            ><app-region-display [region]="region"></app-region-display
          ></app-badge>
        </span>
      </div>
      <div>
        <app-opinion-display
          *ngIf="item.opinion"
          [opinion]="item?.opinion"
        ></app-opinion-display>
      </div>
    </div>
  </div>
</app-card>
