:host {
  color: blue;
  cursor: pointer;
}

.negative-tag {
  background-color: lightcoral !important;
  color: whitesmoke !important;
}

.positive-tag {
  background-color: lightgreen !important;
  color: darkgreen !important;
}
