<h2 mat-dialog-title>Vote</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="voteForm">
    <div class="flex justify-center">
      <button mat-fab (click)="onThumbDown()">
        {{ emojiUnicode.arrowDown }}
      </button>
      <mat-form-field class="custom-width">
        <input
          matInput
          type="number"
          pattern="[0-9]*"
          formControlName="voteCount"
        />
      </mat-form-field>
      <button mat-fab (click)="onThumbUp()">
        {{ emojiUnicode.arrowUp }}
      </button>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-button (click)="onConfirm()">Confirm</button>
</mat-dialog-actions>
