<app-stock-image-display [tag]="dialogData?.tags[0]"></app-stock-image-display>

<div class="title">⚡NEWS {{ dialogData?.title }}</div>

<app-content-display [content]="dialogData?.content"></app-content-display>

<ul>
  <li *ngFor="let item of dialogData?.stats">
    <app-stats-display [statsDisplay]="item"></app-stats-display>
  </li>
</ul>

<div *ngIf="dialogData?.takeAway">✏️TAKEAWAY {{ dialogData.takeAway }}</div>

<app-tags-display [tagUuids]="dialogData?.tags"> </app-tags-display>

<div *ngIf="links">
  <app-links-display [links]="links" [showUrls]="'true'"></app-links-display>
</div>

<div *ngIf="dialogData?.sourceLink">🔗 Source: {{ dialogData.sourceLink }}</div>
