:host {
  height: inherit;
  max-height: inherit;
  max-width: inherit;
  display: flex;
  gap: 5%;
  align-items: stretch;
}

.image-column {
  flex: 1;
  display: flex;
  justify-content: center; /* horizontally center the image */
  align-items: center; /* vertically center the image */
  // height: 100vh; /* set the height of the container to the full viewport height */
}

img {
  object-fit: contain;
  border-radius: 10%;
  max-height: 100%;
  max-width: 100%; /* make sure the image doesn't exceed its container's width */
}
