:host {
  height: inherit;
  max-height: inherit;
  max-width: inherit;
  display: flex;
  gap: 5%;
  align-items: stretch;

  .image-column {
    flex: 1;

    height: inherit;
    max-height: inherit;
    max-width: inherit;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;

    .image {
      flex-basis: 80%;
      flex-grow: 4;
      overflow: scroll;
      text-align: center;
    }

    .title {
      flex-basis: 20%;
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
  }
}

.title {
  font-size: 1.1rem;
  font-weight: 500;
}
