<!-- signup.component.html -->
<div class="signup-container">
  <mat-card>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
      <form [formGroup]="signupForm" (ngSubmit)="signupWithEmail()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
          <mat-error *ngIf="signupForm.get('email').invalid"
            >Please enter a valid email address.</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
          <mat-error *ngIf="signupForm.get('password').invalid"
            >Please enter a valid password.</mat-error
          >
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="signupForm.invalid"
        >
          Sign Up
        </button>
      </form>

      <div class="mt-5">
        <button mat-raised-button (click)="signupWithGoogle()">
          Signup with Google
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
