<ng-container [ngSwitch]="catalystLevel">
  <ng-container *ngSwitchCase="catalystLevelEnum.strong" i18n>
    <span class="material-icons light-green"> sentiment_very_satisfied </span>
    <!-- <span class="dark-green"> > 3 years </span> -->
  </ng-container>

  <ng-container *ngSwitchCase="catalystLevelEnum.moderate" i18n>
    <span class="material-icons green"> sentiment_satisfied_alt </span>
    <!-- <span class="dark-green"> 1 - 3 years </span> -->
  </ng-container>

  <ng-container *ngSwitchDefault i18n>
    <span class="material-icons dark-green"> sentiment_neutral </span>
    <!-- <span class="dark-green"> < 1 year </span> -->
  </ng-container>
</ng-container>
