<div class="head-section mb-2">
  <div class="logo-image">
    <app-image-display [imageLink]="tradable.logoLink"></app-image-display>
  </div>

  <h1>
    <h1>{{ tradable?.displayName }} - ({{ tradable.ticker }})</h1>
  </h1>
</div>

<div>
  <app-interaction-bar
    [interactions]="targetUuidToInteractionMap.get(tradable?.uuid)"
  ></app-interaction-bar>
</div>

<div class="mt-2" *ngIf="tradable?.irAddress">
  <a target="_blank" [href]="tradable.irAddress"> Investor Relations 🔗 </a>
</div>

<div>
  <a
    target="_blank"
    [href]="'https://www.google.com/finance/quote/' + tradable.uuid"
  >
    Google Finance 🔗
  </a>
</div>

<div>
  <a
    target="_blank"
    [href]="'https://seekingalpha.com/symbol/' + tradable.uuid.split(':')[0]"
  >
    Seeking Alpha 🔗
  </a>
</div>

<div class="mt-2" *ngIf="organizations?.length > 0">
  Organizations:
  <span *ngFor="let org of organizations">
    <app-stock-display [tagUuid]="org?.uuid"></app-stock-display>
  </span>
</div>

<div *ngIf="earnings?.length > 0" class="mt-4">
  <div class="mb-2 mt-10">
    <h2>Earnings</h2>
  </div>

  <div *ngFor="let item of earnings">
    <app-earnings-display [earnings]="item"></app-earnings-display>
    <app-divider></app-divider>
  </div>
</div>

<div *ngIf="notes && notes.length > 0" class="mt-4">
  <div class="mb-2 mt-10"><h2>Notes</h2></div>
  <div *ngFor="let note of notes">
    <app-note-container [note]="note"></app-note-container>
    <app-divider></app-divider>
  </div>
</div>
