<ng-container *ngIf="tradable === undefined"> Loading </ng-container>

<ng-container *ngIf="tradable === null"> No result found </ng-container>

<ng-container *ngIf="tradable">
  <div class="test-container">
    <div class="bottom-div">
      <div class="image-container" style="height: 200px">
        <img
          alt="logo image"
          [src]="tradable?.largeLogoLink"
          style="object-fit: contain; height: 100%; width: 70%; opacity: 0.7"
          onerror="this.onerror=null; this.src='https://i.ibb.co/BTr3F4C/Screen-Shot-2023-01-07-at-11-16-38-AM.png'"
        />
      </div>
    </div>
    <div class="top-div">
      <div class="container">
        <div class="profile-image">
          <app-image-display
            [imageLink]="tradable?.logoLink"
          ></app-image-display>
        </div>

        <h1 class="text-2xl">
          {{ tradable?.ticker?.toUpperCase() }} -
          {{ tradable?.displayName }}
        </h1>

        <div class="last-item">
          <button
            mat-icon-button
            [matMenuTriggerFor]="industryMenu"
            *ngIf="!environment.production"
          >
            <mat-icon>more_horiz</mat-icon>
          </button>
        </div>

        <mat-menu #industryMenu="matMenu">
          <button mat-menu-item type="button" (click)="testAction()">
            <mat-icon>sort</mat-icon>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>

  <div class="mt-4" *ngIf="tradable?.description">
    <span class="text-gray-500">Business:</span>
    <span class="font-bold ml-2 capitalize">{{
      tradable?.sicDescription?.toLowerCase()
    }}</span>
  </div>

  <div class="mt-2 mb-4" *ngIf="tradable?.description">
    <div>
      {{ tradable.description }}
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="mt-2" *ngIf="showRange">
    <span class="ml-2"
      >Market Cap Target Range:
      <span> ${{ marketCapRange?.low | siUnit : 2 | undefined }} </span>
      <span>—</span>
      <span> ${{ marketCapRange?.high | siUnit : 2 | undefined }} </span>
      <span *ngIf="marketCapRange?.average"
        >(${{ marketCapRange.average | siUnit : 2 | undefined }} Avg.)
      </span>
    </span>
  </div>

  <div class="text-2xl mt-5 flex justify-between">
    <span>
      <app-price-display [prices]="priceData"></app-price-display>
    </span>

    <span
      class="text-right"
      *ngIf="
        tradable?.weightedSharesOutstanding &&
        (priceData?.currentPrice?.c || priceData?.closedPrice?.c)
      "
    >
      <span class="text-gray-500 text-sm">Market Cap:</span>
      <span>
        {{
          tradable.weightedSharesOutstanding *
            (priceData?.currentPrice?.c || priceData?.closedPrice?.c)
            | siUnit : 2
            | undefined
        }}
      </span>
    </span>
  </div>

  <div class="mt-2">
    <app-interaction-bar
      [interactions]="interactions"
      [interactionKey]="tradable?.ticker.toLowerCase() + ':tradable'"
    ></app-interaction-bar>
  </div>

  <div class="mt-2">
    <span>Research Links:</span>
    <span class="inline-block">
      <mat-chip-listbox>
        <mat-chip *ngIf="tradable?.homePageUrl">
          <a target="_blank" [href]="tradable.homePageUrl"> Website 🔗 </a>
        </mat-chip>

        <mat-chip *ngIf="tradable?.irAddress">
          <a target="_blank" [href]="tradable.irAddress">
            Investor Relations 🔗
          </a>
        </mat-chip>

        <mat-chip [matMenuTriggerFor]="overviewMenu"> Overview </mat-chip>

        <mat-menu #overviewMenu="matMenu">
          <a
            mat-menu-item
            target="_blank"
            [href]="
              'https://www.google.com/finance/quote/' +
              tradable?.ticker +
              ':' +
              tradable?.primaryExchange +
              '?window=1Y'
            "
          >
            Google 🔗
          </a>

          <a
            mat-menu-item
            target="_blank"
            [href]="'https://tradingview.com/symbols/' + tradable?.ticker"
          >
            Tradingview 🔗
          </a>
        </mat-menu>

        <mat-chip [matMenuTriggerFor]="forecastMenu"> Forecast </mat-chip>
        <mat-menu #forecastMenu="matMenu">
          <a
            mat-menu-item
            target="_blank"
            [href]="
              'https://www.tradingview.com/symbols/' +
              tradable?.ticker +
              '/forecast'
            "
          >
            Tradingview 🔗
          </a>

          <a
            mat-menu-item
            target="_blank"
            [href]="
              'https://www.tipranks.com/stocks/' +
              tradable?.ticker +
              '/forecast'
            "
          >
            Tipranks 🔗
          </a>
        </mat-menu>

        <mat-chip>
          <a
            target="_blank"
            [href]="
              'https://www.finviz.com/quote.ashx?t=' + tradable?.ticker + '&p=d'
            "
          >
            Chart Trend 🔗
          </a>
        </mat-chip>

        <mat-chip>
          <a
            target="_blank"
            [href]="
              'https://www.macrotrends.net/stocks/charts/' +
              tradable?.ticker +
              '/' +
              dashName +
              '/pe-ratio'
            "
          >
            PE Ratio 🔗
          </a>
        </mat-chip>

        <mat-chip>
          <a
            target="_blank"
            [href]="'https://seekingalpha.com/symbol/' + tradable?.ticker"
          >
            News and Opinions 🔗
          </a>
        </mat-chip>

        <mat-chip>
          <a
            target="_blank"
            [href]="'https://marketchameleon.com/Overview/' + tradable?.ticker"
          >
            Options 🔗
          </a>
        </mat-chip>

        <mat-chip>
          <a
            target="_blank"
            [href]="
              'https://www.reddit.com/r/wallstreetbets/search/?q=' + dashName
            "
          >
            Wallstreetbets 🔗
          </a>
        </mat-chip>

        <mat-chip [matMenuTriggerFor]="technicalMenu"> Technical </mat-chip>
        <mat-menu #technicalMenu="matMenu">
          <a
            mat-menu-item
            target="_blank"
            [href]="
              'https://www.tradingview.com/symbols/' +
              tradable?.ticker +
              '/technicals'
            "
          >
            Trading View 🔗
          </a>
        </mat-menu>
      </mat-chip-listbox>
    </span>
  </div>

  <div class="mt-2" *ngIf="products?.length > 0">
    Products:

    <mat-chip-listbox>
      <mat-chip *ngFor="let product of products">
        {{ product.name }}
      </mat-chip>
    </mat-chip-listbox>
  </div>

  <div class="mt-4">
    <div class="mb-2 mt-10 flex items-center">
      <span>
        <h2>Notes</h2>
      </span>
      <span>
        <button mat-icon-button (click)="addNote()">
          <mat-icon>add</mat-icon>
        </button>
      </span>
    </div>
    <ng-container *ngIf="notes && notes.length > 0">
      <mat-card *ngFor="let note of notes" class="mb-3">
        <mat-card-content>
          <app-note-container [note]="note"></app-note-container>
        </mat-card-content>

        <mat-card-actions>
          <span *ngIf="note.createdTimestamp">
            <app-date-display
              [timestamp]="note.createdTimestamp"
            ></app-date-display>
          </span>
          <span *ngIf="note.createdDate">
            <app-date-display [date]="note.createdDate"></app-date-display>
          </span>
          <span
            ><button mat-icon-button (click)="deleteNote(note)">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>

  <div *ngIf="earnings?.length > 0" class="mt-4">
    <div class="mb-2 mt-10 flex items-center">
      <span>
        <h2>Earnings</h2>
      </span>
      <span>
        <button
          mat-icon-button
          (click)="earningsDropdownOpen = !earningsDropdownOpen"
        >
          <mat-icon>{{
            earningsDropdownOpen ? "expand_less" : "expand_more"
          }}</mat-icon>
        </button>
      </span>
    </div>

    <div *ngIf="earnings.length > 0">
      <app-earnings-display [earnings]="earnings[0]"></app-earnings-display>
      <app-divider></app-divider>
    </div>

    <div *ngIf="earningsDropdownOpen">
      <div *ngFor="let item of earnings.slice(1)">
        <app-earnings-display [earnings]="item"></app-earnings-display>
        <app-divider></app-divider>
      </div>
    </div>
  </div>
</ng-container>
