<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    [routerLink]="[noteFormRoute]"
    [active]="activeRoute === noteFormRoute"
    (click)="onAnchorLinkClicked($event.target)"
    i18n
  >
    Add Note
  </a>
  <a
    mat-tab-link
    [routerLink]="[addPersonRoute]"
    [active]="activeRoute === addPersonRoute"
    (click)="onAnchorLinkClicked($event.target)"
    i18n
  >
    Add Person
  </a>
  <a
    mat-tab-link
    [routerLink]="[uiAtomsRoute]"
    [active]="activeRoute === uiAtomsRoute"
    (click)="onAnchorLinkClicked($event.target)"
    i18n
  >
    Atoms</a
  >
  <a
    mat-tab-link
    [routerLink]="[uiMoleculesRoute]"
    [active]="activeRoute === uiMoleculesRoute"
    (click)="onAnchorLinkClicked($event.target)"
    i18n
  >
    Molecules</a
  >
  <a
    mat-tab-link
    [routerLink]="[uiOrganismsRoute]"
    [active]="activeRoute === uiOrganismsRoute"
    (click)="onAnchorLinkClicked($event.target)"
    i18n
  >
    Organisms</a
  >
  <a
    mat-tab-link
    [routerLink]="[uiTemplatesRoute]"
    [active]="activeRoute === uiTemplatesRoute"
    (click)="onAnchorLinkClicked($event.target)"
    i18n
  >
    Templates</a
  >
</nav>
<router-outlet></router-outlet>
