<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    [routerLink]="[opinionsRoute]"
    [active]="activeRoute === opinionsRoute"
    (click)="onAnchorLinkClicked($event.target)"
    i18n
    >Opinions</a
  >

  <a
    mat-tab-link
    [routerLink]="[listRoute]"
    [active]="activeRoute === listRoute"
    (click)="onAnchorLinkClicked($event.target)"
    i18n
    >Lists</a
  >

  <a
    mat-tab-link
    [routerLink]="[actionsRoute]"
    [active]="activeRoute === actionsRoute"
    (click)="onAnchorLinkClicked($event.target)"
    i18n
    >Actions</a
  >
</nav>
<router-outlet></router-outlet>
