<app-title-menu>
  <div left-items class="inline-display">
    <h1>Latest</h1>

    <!-- <mat-chip-list class="chip-list" [multiple]="true" selectable>
      <mat-chip
        (click)="toggleChip(NoteType.Stats)"
        [selected]="chips.has(NoteType.Stats)"
        >Numbers</mat-chip
      >

      <mat-chip
        (click)="toggleChip(NoteType.Action)"
        [selected]="chips.has(NoteType.Action)"
        >Actions</mat-chip
      >
      <mat-chip
        (click)="toggleChip(NoteType.Opinion)"
        [selected]="chips.has(NoteType.Opinion)"
        >Opinions</mat-chip
      >
    </mat-chip-list> -->
  </div>

  <div right-items>
    <button mat-icon-button [matMenuTriggerFor]="newsMenu">
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #newsMenu="matMenu">
      <button
        mat-menu-item
        (click)="openDailyReportDialog()"
        [disabled]="environment.production"
      >
        Daily Report
      </button>
      <button mat-menu-item (click)="showTools = !showTools" disabled>
        <mat-icon>filter_alt</mat-icon>
      </button>
    </mat-menu>
  </div>
</app-title-menu>

<div *ngIf="showTools"></div>

<div
  class="news-card"
  [style.backgroundColor]="bgColor"
  *ngFor="let stockUuid of stockUuidToStockMap.keys()"
>
  <app-card>
    <div class="logo-image">
      <!-- <app-image-display
          [imageLink]="
            stockUuidToStockMap.get(stockUuid)?.largeLogoLink ||
            stockUuidToStockMap.get(stockUuid)?.logoLink
          "
        >
        </app-image-display> -->
      <img
        [src]="
          stockUuidToStockMap.get(stockUuid)?.largeLogoLink ||
          stockUuidToStockMap.get(stockUuid)?.logoLink
        "
      />
    </div>

    <div *ngFor="let item of stockUuidToNotesMap.get(stockUuid)">
      <div class="news-display">
        <app-note-container [note]="item"></app-note-container>
      </div>
    </div>
  </app-card>
</div>

<!-- <button type="button" mat-button disabled>
    Load More
    <mat-icon>more_horiz</mat-icon>
  </button> -->
