.news-card {
  width: 95vw;
  max-width: 600px;
  margin: 10px auto;
}

.margin-left-5 {
  margin-left: 5px;
}

.news-display {
  max-width: 420px;
  margin: 5px auto;
}

.inline-display {
  display: flex;

  .chip-list {
    margin-left: 10px;
  }
}
