<app-title-menu>
  <div left-items class="inline-display">
    <h1>Trending</h1>
  </div>
</app-title-menu>

<div>
  <span *ngFor="let item of tags">
    <app-tag-display [tagUuid]="item.uuid"></app-tag-display>
  </span>
</div>

<div class="mt-5">
  <h1>Earnings To Watch</h1>

  <div *ngFor="let item of events">
    <app-date-display [date]="item.date"></app-date-display>:
    <span class="mr-2" *ngFor="let stockUuid of item.targetUuids">
      <app-tradable-display [tradableUuid]="stockUuid"></app-tradable-display>
    </span>
  </div>
</div>

<div class="mt-5">
  <h1>Popular Earnings Results</h1>
  <div>
    <span
      class="mr-2"
      *ngFor="let stockUuid of earnings[selectedEarningsIndex]?.targetUuids"
    >
      <app-tradable-display [tradableUuid]="stockUuid"></app-tradable-display>
    </span>
  </div>
  <div>
    <app-earnings-display
      [earnings]="earnings[selectedEarningsIndex]"
    ></app-earnings-display>
  </div>

  <div class="flex justify-end" *ngIf="earnings[selectedEarningsIndex]">
    <button
      type="button"
      (click)="selectedEarningsIndex = selectedEarningsIndex + 1"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Next
    </button>
  </div>
</div>

<div class="mt-5">
  <h1>Top Notes</h1>
</div>

<div>
  <mat-chip-list *ngIf="notes[selectedNoteIndex]">
    <mat-chip *ngFor="let item of notes[selectedNoteIndex].targetUuids">
      <app-entity-display [entityUuid]="item"></app-entity-display>
    </mat-chip>
  </mat-chip-list>

  <div class="news-display">
    <app-note-container [note]="notes[selectedNoteIndex]"></app-note-container>
  </div>

  <div class="flex justify-end" *ngIf="notes[selectedNoteIndex]">
    <button
      type="button"
      (click)="selectedNoteIndex = selectedNoteIndex + 1"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Next
    </button>
  </div>
</div>
