.news-card {
  width: 95vw;
  max-width: 600px;
  margin: 10px auto;
}

.margin-left-5 {
  margin-left: 5px;
}

.news-display {
  max-width: 420px;
  margin: 5px auto;
}

.inline-display {
  display: flex;

  .chip-list {
    margin-left: 10px;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center vertically */
}

.buttons {
  flex: 0 0 80px; /* Set the width of the fixed-width item to 200px */
}

.float-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f371f3;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
