:host {
  padding: 5vw;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 100%);
  font-size: 2vw;

  .slide {
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 1vw 1vw 1vw rgb(0, 0, 0, 0.1);
    // Keep the ratio of slides fits
    height: calc((100vw - 2vw) / 16 * 9);
  }
}
