<ng-container *ngIf="interactions && displayOnly">
  <ng-container *ngIf="!environment.production">
    <span *ngIf="interactions.hearted">
      {{ emojiUnicode.heart }}
    </span>

    <span *ngIf="interactions.using">
      {{ emojiUnicode.hammer }}
    </span>

    <span class="ml-2" *ngIf="interactions?.vote && interactions.vote !== 0">
      {{
        interactions.vote > 0 ? emojiUnicode.thumbUp : emojiUnicode.thumbDown
      }}
      {{ interactions.vote }}
    </span>
  </ng-container>

  <span *ngIf="interactions.listUuids">
    <span *ngFor="let uuid of interactions.listUuids">
      <app-tag-display [tagUuid]="uuid"></app-tag-display>
    </span>
  </span>
</ng-container>

<ng-container *ngIf="editing">
  <span class="items-center space-x-2 border rounded">
    <button class="text-white hover:bg-blue-700 font-bold py-2 px-3 rounded">
      {{ emojiUnicode.thumbUp }}
    </button>

    <button class="font-bold hover:bg-blue-700 py-2 px-3 rounded">
      {{ emojiUnicode.thumbDown }}
    </button>
  </span>

  <span *ngIf="interactions.saved">
    <button class="border hover:bg-blue-700 font-bold py-2 px-4 rounded">
      {{ emojiUnicode.pin }}
    </button>
  </span>

  <span *ngIf="opinions">
    <button class="border hover:bg-blue-700 font-bold py-2 px-4 rounded">
      {{ emojiUnicode.comment }}
    </button>
  </span>

  <span *ngIf="interactions.used">
    <button class="border hover:bg-blue-700 font-bold py-2 px-4 rounded">
      Used
    </button>
  </span>
</ng-container>
