<div class="container">
  <div class="row sub-title">
    <div *ngIf="!hideLabel">Quarter</div>
    <div class="stats">
      <span>
        {{ stock.latestReport.year }}Q{{ stock.latestReport.quarter }}
      </span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">Gross Profit Q/Q</div>

    <div class="stats">
      <span class="gray-font" *ngIf="!compareDisplay">
        ({{ stock?.previousYearReport?.grossProfit | siUnit: 2 | undefined }} ->
        {{ stock?.latestReport?.grossProfit | siUnit: 2 | undefined }})
      </span>

      <span>
        <span
          *ngIf="
            stock?.latestReport?.grossProfit -
              stock?.previousYearReport?.grossProfit >
            0
          "
          >+</span
        >{{
          (stock?.latestReport?.grossProfit -
            stock?.previousYearReport?.grossProfit) /
            stock?.previousYearReport?.grossProfit
            | siUnit: 2
            | percent
            | undefined
        }}
      </span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">Operating Expenses Q/Q</div>

    <div class="stats">
      <span class="gray-font" *ngIf="!compareDisplay">
        ({{
          stock?.previousYearReport?.grossProfit -
            stock?.previousYearReport?.operatingIncome
            | siUnit: 2
            | undefined
        }}
        ->
        {{
          stock?.latestReport?.grossProfit -
            stock?.latestReport?.operatingIncome
            | siUnit: 2
            | undefined
        }})
      </span>

      <span>
        <span
          *ngIf="
            stock?.latestReport?.grossProfit -
              stock?.latestReport?.operatingIncome -
              (stock?.previousYearReport?.grossProfit -
                stock?.previousYearReport?.operatingIncome) >
            0
          "
          >+</span
        >{{
          (stock?.latestReport?.grossProfit -
            stock?.latestReport?.operatingIncome -
            (stock?.previousYearReport?.grossProfit -
              stock?.previousYearReport?.operatingIncome)) /
            (stock?.previousYearReport?.grossProfit -
              stock?.previousYearReport?.operatingIncome)
            | siUnit: 2
            | percent
            | undefined
        }}
      </span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">Operating Expenses / Gross Profit</div>
    <div class="stats">
      <span class="gray-font" *ngIf="!compareDisplay">
        ({{
          stock?.latestReport?.grossProfit -
            stock?.latestReport?.operatingIncome
            | siUnit: 2
            | undefined
        }}
        / {{ stock?.latestReport?.grossProfit | siUnit: 2 | undefined }})
      </span>
      <span>
        {{
          stock.quarterOperatingCostOverGrossProfit
            | siUnit: 2
            | percent
            | undefined
        }}
      </span>
    </div>
  </div>

  <ng-container
    *ngIf="stock?.latestReport?.revenueRetention && !compareDisplay"
  >
    <div class="row">
      <div *ngIf="!hideLabel">Revenue Retention</div>
      <div class="stats">
        <span>
          {{
            stock?.latestReport?.revenueRetention
              | siUnit: 2
              | percent
              | undefined
          }}
        </span>
      </div>
    </div>
  </ng-container>

  <ng-container
    *ngIf="stock?.latestReport?.salesAndMarketingCost && !compareDisplay"
  >
    <div class="row">
      <div *ngIf="!hideLabel">Sales & Marketing Cost</div>
      <div class="stats">
        <span *ngIf="stock?.latestReport?.salesAndMarketingCost">
          {{
            stock?.latestReport?.salesAndMarketingCost | siUnit: 2 | undefined
          }}
        </span>
      </div>
    </div>
  </ng-container>

  <ng-container
    *ngIf="
      stock?.latestReport?.sellingGeneralAndAdministrative && !compareDisplay
    "
  >
    <div class="row">
      <div *ngIf="!hideLabel">Selling, General and Administrative Cost</div>
      <div class="stats">
        <span>
          {{
            stock?.latestReport?.sellingGeneralAndAdministrative
              | siUnit: 2
              | undefined
          }}
        </span>
      </div>
    </div>
  </ng-container>

  <div class="row sub-title">
    <span *ngIf="!hideLabel"> Year (TTM)</span>
  </div>

  <div class="row" *ngIf="!compareDisplay">
    <div *ngIf="!hideLabel">Gross Profit Y/Y</div>
    <div class="stats">
      <span class="gray-font" *ngIf="!compareDisplay">
        ({{ stock?.previousTtmGrossProfit | siUnit: 2 | undefined }} ->
        {{ stock?.ttmGrossProfit | siUnit: 2 | undefined }})
      </span>

      <span>
        <span *ngIf="stock?.ttmGrossProfit - stock?.previousTtmGrossProfit > 0"
          >+</span
        >{{
          (stock?.ttmGrossProfit - stock?.previousTtmGrossProfit) /
            stock?.previousTtmGrossProfit
            | siUnit: 2
            | percent
            | undefined
        }}
      </span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">Operating Expenses / Gross Profit</div>
    <div class="stats">
      <span class="gray-font" *ngIf="!compareDisplay">
        ({{ stock?.ttmGrossProfit - stock?.ttmOI | siUnit: 2 | undefined }} /
        {{ stock?.ttmGrossProfit | siUnit: 2 | undefined }})
      </span>
      <span>
        {{
          (stock?.ttmGrossProfit - stock?.ttmOI) / stock?.ttmGrossProfit
            | siUnit: 2
            | percent
            | undefined
        }}
      </span>
    </div>
  </div>
</div>
