<div class="container">
  <div class="row">
    <div *ngIf="!hideLabel">Operating Income (OI)</div>
    <div class="stats">
      <span>
        {{ operatingIncome | siUnit: 2 | undefined }}
      </span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">Operating Margin</div>
    <div class="stats">
      <span>
        {{
          earningsService?.calculateOperatingMargin(
            earningsService?.currentQuarterEr
          )
            | siUnit: 2
            | percent
            | undefined
        }}
      </span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">OI growth Q/Q</div>
    <div class="stats">
      <span>
        {{ operatingIncomeImprovement | siUnit: 2 | percent | undefined }}
      </span>
    </div>
  </div>

  <ng-container
    *ngIf="previousSalesAndMarketingPercent || previousSellingGaPercent"
  >
    <div class="stats">{{ unicode.NextLine }}</div>
  </ng-container>

  <ng-container *ngIf="previousSalesAndMarketingPercent">
    <div class="row">
      <div *ngIf="!hideLabel">S&M Cost / Revenue</div>
      <div class="stats">
        <span *ngIf="previousSalesAndMarketingPercent">
          {{
            previousSalesAndMarketingPercent | siUnit: 2 | percent | undefined
          }}
          ->
        </span>
        <span>
          {{ salesAndMarketing / revenue | siUnit: 2 | percent | undefined }}
        </span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="previousSellingGaPercent">
    <div class="row">
      <div *ngIf="!hideLabel">SG&A Cost / Revenue</div>
      <div class="stats">
        <span *ngIf="previousSellingGaPercent">
          {{ previousSellingGaPercent | siUnit: 2 | percent | undefined }}
          ->
        </span>
        <span>
          {{ sellingGa / revenue | siUnit: 2 | percent | undefined }}
        </span>
      </div>
    </div>
  </ng-container>
</div>
