.gray-font {
  font-weight: 100;
  color: gray;
}

.container {
  display: grid;
}

.row {
  display: flex;
  gap: 2rem;
}

.stats {
  margin-left: auto;
}

.sub-title {
  font-weight: bold;
  margin-top: 0.5rem;
  height: 1.5rem;
}
