.container {
  display: flex;
  gap: 2vw;
}

.label {
  text-align: right;
  font-weight: 500;
}

.sub-label {
  text-align: right;

  font-weight: 100;
}

.header {
  display: flex;
}

.margin-up {
  margin-top: 1rem;
}
