<div class="flex-display">
  <app-badge>{{ stock.shortName }}</app-badge>

  <span>🆚</span>

  <app-badge *ngFor="let item of toCompareList">{{ item.name }}</app-badge>

  <div>
    <form [formGroup]="newTickerForm" (ngSubmit)="addTicker()">
      <mat-form-field>
        <input
          autoFocus
          matInput
          placeholder="Add Stock Ticker to Compare"
          value=""
          formControlName="ticker"
        />
      </mat-form-field>
    </form>
  </div>
</div>

<div>
  Groups to add:
  <app-badge
    *ngFor="let item of stock.industries"
    (click)="addIndustry(item)"
    >{{ item }}</app-badge
  >
</div>

<mat-form-field appearance="fill">
  <mat-label>Compare Property</mat-label>

  <select matNativeControl (change)="selectFact($event)">
    <option
      *ngFor="let type of factTypeArray"
      [value]="type"
      [selected]="selectedFact === type"
    >
      {{ type }}
    </option>
  </select>
</mat-form-field>

<div *ngIf="environment.production">
  {{ sortedPortfolio }}
</div>

<app-card>
  <app-comparision-display
    [items]="[stock, toCompareList[0]]"
    (selectAction)="select($event)"
  >
    <div note>
      <div class="sub-label">&nbsp;</div>

      <div class="label">&nbsp;</div>

      <ng-container [ngSwitch]="selectedFact">
        <ng-container *ngSwitchCase="factType.valuation">
          <app-valuation
            [stock]="stock"
            [hideData]="'true'"
            [compareDisplay]="'true'"
          ></app-valuation>
        </ng-container>

        <ng-container *ngSwitchCase="factType.profit">
          <app-profitability
            [stock]="stock"
            [hideData]="'true'"
            [compareDisplay]="'true'"
          ></app-profitability>
        </ng-container>

        <ng-container *ngSwitchCase="factType.growth">
          <!-- Only display data after second stock-->
          <app-growth
            [stock]="stock"
            [hideData]="'true'"
            [compareDisplay]="'true'"
          ></app-growth>
        </ng-container>
      </ng-container>
    </div>

    <div item-1>
      <div class="sub-label">{{ stock.shortName || stock.name }}</div>

      <div class="label">
        {{ stock.ticker | uppercase }}
      </div>

      <ng-container [ngSwitch]="selectedFact">
        <ng-container *ngSwitchCase="factType.valuation">
          <app-valuation
            [stock]="stock"
            [hideLabel]="'true'"
            [compareDisplay]="'true'"
          ></app-valuation>
        </ng-container>

        <ng-container *ngSwitchCase="factType.profit">
          <app-profitability
            [stock]="stock"
            [hideLabel]="'true'"
            [compareDisplay]="'true'"
          ></app-profitability>
        </ng-container>

        <ng-container *ngSwitchCase="factType.growth">
          <!-- Only display data after second stock-->
          <app-growth
            [stock]="stock"
            [hideLabel]="'true'"
            [compareDisplay]="'true'"
          ></app-growth>
        </ng-container>
      </ng-container>
    </div>

    <div item-2 *ngIf="toCompareList[0]">
      <div class="sub-label">
        {{ toCompareList[0]?.shortName || stock.name }}
      </div>

      <div class="label">
        {{ toCompareList[0]?.ticker | uppercase }}
      </div>

      <ng-container [ngSwitch]="selectedFact">
        <ng-container *ngSwitchCase="factType.valuation">
          <app-valuation
            [stock]="toCompareList[0]"
            [hideLabel]="'true'"
            [compareDisplay]="'true'"
          ></app-valuation>
        </ng-container>

        <ng-container *ngSwitchCase="factType.profit">
          <app-profitability
            [stock]="toCompareList[0]"
            [hideLabel]="'true'"
            [compareDisplay]="'true'"
          ></app-profitability>
        </ng-container>

        <ng-container *ngSwitchCase="factType.growth">
          <!-- Only display data after second stock-->
          <app-growth
            [stock]="toCompareList[0]"
            [hideLabel]="'true'"
            [compareDisplay]="'true'"
          ></app-growth>
        </ng-container>
      </ng-container>
    </div>
  </app-comparision-display>
</app-card>

<mat-divider></mat-divider>

<div>
  <div>Results:</div>
  <div>
    <span>👍:</span>
    <app-badge *ngFor="let item of better">{{ item.name }}</app-badge>
  </div>

  <div>
    <span>👎:</span>
    <app-badge *ngFor="let item of worse">{{ item.name }}</app-badge>
  </div>
</div>

<mat-dialog-actions align="end">
  <button
    mat-stroked-button
    [disabled]="toCompareList.length === 0 || !selected"
    (click)="next()"
  >
    Next
  </button>
  <button mat-stroked-button (click)="save()">Save</button>
  <button mat-stroked-button type="button" mat-dialog-close i18n>Close</button>
</mat-dialog-actions>
