.container {
  display: flex;
  gap: 2vw;
}

.label {
  text-align: right;
  font-weight: 500;
}

.sub-label {
  text-align: right;

  font-weight: 100;
}

.header {
  display: flex;
}

.margin-up {
  margin-top: 1rem;
}

.option {
  &:hover {
    background-color: lightblue;
  }
}

.comparision-display {
  max-height: 60vh;
}

.flex-display {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
