<ng-container>
  <mat-chip-set>
    <mat-chip
      *ngIf="interactions?.vote && interactions.vote !== 0"
      (click)="openVoteDialog(interactions?.vote || 0)"
    >
      {{
        interactions.vote > 0 ? emojiUnicode.arrowUp : emojiUnicode.arrowDown
      }}
      {{ interactions.vote }}
    </mat-chip>

    <mat-chip
      *ngIf="!interactions || !interactions?.vote"
      (click)="openVoteDialog(0)"
    >
      {{ emojiUnicode.arrowUp }} Vote
    </mat-chip>

    <app-prediction-display
      (click)="openPredictionDialog()"
      [predictionString]="predictionString"
    ></app-prediction-display>
  </mat-chip-set>
</ng-container>
