<div>
  📊 <span *ngIf="statsDisplay?.name">{{ statsDisplay.name }}: </span>

  <span *ngIf="statsDisplay?.value">
    {{ statsDisplay.value | siUnit: 2 | undefined }},
  </span>

  <app-movement-display
    *ngIf="
      (statsDisplay?.value && statsDisplay?.previousValue) ||
      statsDisplay?.changeRate
    "
    [previousData]="statsDisplay?.previousValue"
    [currentData]="statsDisplay?.value"
    [changePercent]="statsDisplay?.changeRate"
  ></app-movement-display
  ><span *ngIf="statsDisplay.timeFrame == TimeFrameEnum.yoy">YoY</span
  ><span *ngIf="statsDisplay.timeFrame == TimeFrameEnum.qoq">QoQ</span
  ><span *ngIf="statsDisplay.timeFrame == TimeFrameEnum.mtm">MoM</span>
  <ng-container *ngIf="statsDisplay.previousValue">
    from {{ statsDisplay.previousValue | siUnit: 2 | undefined }}
  </ng-container>
  <span *ngIf="statsDisplay?.expectedChangeRate"
    >,{{
      statsDisplay?.expectedChangeRate < statsDisplay?.changeRate
        ? "above expectations of"
        : "below expectations of"
    }}{{
      statsDisplay?.expectedChangeRate
        | siUnit: 3
        | percent: "1.1-2"
        | undefined
    }}</span
  ><span *ngIf="statsDisplay?.expectedValue"
    >,
    {{
      statsDisplay?.expectedValue < statsDisplay?.value
        ? "above expectations of"
        : "below expectations of"
    }}
    {{ statsDisplay?.expectedValue | siUnit: 2 | undefined }}
  </span>
</div>

<ul *ngIf="statsDisplay.details">
  <li *ngFor="let item of statsDisplay.details">
    <app-stats-display [statsDisplay]="item"></app-stats-display>
  </li>
</ul>
