<form [formGroup]="newsForm" (ngSubmit)="onSubmit()">
  <button matSuffix mat-button aria-label="Go" type="submit">Update</button>

  <div *ngIf="note.noteType === noteType.Opinion">
    <mat-button-toggle-group
      #ratingToggleGroup="matButtonToggleGroup"
      (change)="setRating(ratingToggleGroup.value)"
    >
      <mat-button-toggle [value]="ratingEnum.VeryBullish"
        >Very Bullish</mat-button-toggle
      >
      <mat-button-toggle [value]="ratingEnum.Bullish"
        >Bullish</mat-button-toggle
      >
      <mat-button-toggle [value]="ratingEnum.Neutral"
        >Neutral</mat-button-toggle
      >
      <mat-button-toggle [value]="ratingEnum.Bearish"
        >Bearish</mat-button-toggle
      >
      <mat-button-toggle [value]="ratingEnum.VeryBearish"
        >Very Bearish</mat-button-toggle
      >
    </mat-button-toggle-group>

    <span> on </span>

    <mat-form-field>
      <mat-label>targets</mat-label>
      <input matInput formControlName="targets" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>tags</mat-label>
      <input matInput formControlName="tags" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Author UUID</mat-label>
      <input matInput formControlName="authorUuid" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>sources</mat-label>
      <input matInput formControlName="sourceLink" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>parent UUID</mat-label>
      <input matInput formControlName="parentUuid" />
    </mat-form-field>
  </div>

  <div
    *ngIf="
      newsForm.value.noteType === noteType.Quote ||
      newsForm.value.noteType === noteType.Opinion
    "
  >
    <mat-form-field>
      <mat-label>Author</mat-label>
      <input matInput formControlName="authorUuid" />
    </mat-form-field>
  </div>

  <div>
    <div><mat-label>title</mat-label></div>
    <div>
      <textarea rows="5" cols="40" formControlName="title"></textarea>
    </div>
  </div>

  <div>
    <div>
      <mat-label>content</mat-label>:
      <span> {{ newsForm.value?.content?.length || 0 }}</span>
    </div>
    <div>
      <textarea rows="40" cols="50" formControlName="content"></textarea>
    </div>
  </div>
</form>
