<h1>App Image Display</h1>
<app-image-display
  [imageLink]="
    'https://pbs.twimg.com/media/Fck1g5TakAIU9mR?format=png&name=large'
  "
></app-image-display>

<app-divider></app-divider>

<app-card>
  <h1>Badge</h1>

  <app-badge>Test</app-badge>
</app-card>

<app-card>
  <h1>Region Display</h1>

  <app-region-display [region]="'CN'">Test</app-region-display>
</app-card>

<app-card>
  <h1>Tag Display</h1>

  <app-tags-display [tags]="tagsMock"></app-tags-display>
</app-card>

<app-card>
  <h1>Card</h1>

  <app-card>This is a card demo</app-card>

  <h2>Square</h2>
</app-card>

<app-card>
  <app-square-container
    ><app-image-display
      [imageLink]="
        'https://i.ibb.co/CJzQF3G/Screenshot-2023-02-06-at-5-15-45-PM.png'
      "
    ></app-image-display
  ></app-square-container>
</app-card>

<app-card>
  <h1>Title Menu Component</h1>
  <app-title-menu>
    <div header-1>This is a header-1 Title</div>
  </app-title-menu>

  <app-title-menu>
    <div header-2>This is a header-2 Title</div>
  </app-title-menu>

  <app-title-menu>
    <div header-3>This is a header-3 Title</div>
  </app-title-menu>

  <app-title-menu>
    <button left-items>Left Buttons</button>
    <button right-items>Right Buttons</button>
  </app-title-menu>
</app-card>

<app-card>
  <h1>Card With Limit</h1>
</app-card>
