<ul>
  <li>
    🔸 Quarterly Gross Profit ($):
    {{ stock.quarterGrossProfit | siUnit: 2 | undefined }}, 🟰
    <strong>{{
      stock?.quarterGrossProfitMargin | siUnit: 2 | percent | undefined
    }}</strong>
    Gross Margin,
    <app-movement-display
      [previousData]="stock.previousQuarterGrossProfit"
      [currentData]="stock.quarterGrossProfit"
    ></app-movement-display>
    YoY
  </li>

  <li>
    <span *ngIf="stock?.quarterOperatingMargin >= 0; else operatingLoss">
      🔸 Quarterly Operating Income ($): {{ emojiUnicode.money }}
      {{ stock?.latestReport?.operatingIncome | siUnit: 2 }}</span
    ><ng-template #operatingLoss>
      🔸 Quarterly Operating Loss ($):
      {{ emojiUnicode.warning
      }}{{ -stock?.latestReport?.operatingIncome | siUnit: 2 }}</ng-template
    ><span
      >, 🟰

      <strong>
        {{ stock?.quarterOperatingMargin | siUnit: 2 | percent | undefined }}
      </strong>
      Operating Margin</span
    ><span
      ><!--filler
    -->,
      {{
        stock.previousYearReport?.operatingIncome >
        stock.latestReport?.operatingIncome
          ? "⬇️ worse than"
          : "⬆️ better than"
      }}
      {{
        stock.previousYearReport?.operatingIncome >= 0
          ? (stock.previousYearReport?.operatingIncome | siUnit: 2) + " Income"
          : (-stock.previousYearReport?.operatingIncome | siUnit: 2) + " Loss"
      }}
      one year ago
    </span>
  </li>

  <li>
    <span *ngIf="stock?.quarterNetMargin >= 0; else netLoss">
      🔸 Quarterly Net Income ($): {{ emojiUnicode.money }}
      {{ stock?.latestReport?.netIncome | siUnit: 2 }}</span
    ><ng-template #netLoss>
      🔸 Quarterly Net Loss ($):
      {{ emojiUnicode.warning }}
      {{ -stock?.latestReport?.netIncome | siUnit: 2 }}</ng-template
    ><span
      >, 🟰

      <strong>
        {{ stock?.quarterNetMargin | siUnit: 2 | percent | undefined }}
      </strong>
      Net Margin</span
    ><span
      ><!--filler
    -->,
      {{
        stock.previousYearReport?.netIncome > stock.latestReport?.netIncome
          ? "⬇️ worse than"
          : "⬆️ better than"
      }}
      {{
        stock.previousYearReport?.netIncome >= 0
          ? (stock.previousYearReport?.netIncome | siUnit: 2) + " Income"
          : (-stock.previousYearReport?.netIncome | siUnit: 2) + " Loss"
      }}
      one year ago
    </span>
  </li>

  <li>
    🔸 Quarterly Operating Expenses ($):
    {{ stock.quarterExpenses | siUnit: 2 | undefined }},

    <app-movement-display
      [previousData]="stock.previousQuarterExpenses"
      [currentData]="stock.quarterExpenses"
    ></app-movement-display>
    YoY
  </li>

  <!-- <li>
    🔸 Trailing 12 Months Gross Profit was
    {{ stock.ttmGrossProfit | siUnit: 2 | undefined }},

    <app-movement-display
      [previousData]="stock.previousTtmGrossProfit"
      [currentData]="stock.ttmGrossProfit"
    ></app-movement-display>
    YoY
  </li> -->

  <!-- <li>
    Quarterly Operating Expenses / Gross Profit Ratio was
    <strong>{{
      stock.quarterOperatingCostOverGrossProfit
        | siUnit: 2
        | percent
        | undefined
    }}</strong>
  </li> -->
</ul>
