<h2 mat-dialog-title>Add Notes</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="noteForm">
    <mat-form-field *ngIf="data.stockTicker">
      <mat-label>For</mat-label>
      <input matInput formControlName="for" type="text" />
    </mat-form-field>

    <div *ngIf="tags?.length > 0">
      <mat-label>Tags: </mat-label>
      <app-tag-display *ngFor="let tag of tags" [tag]="tag"></app-tag-display>
      <!-- <button mat-button (click)="openAddTagDialog()">🔖 Add Tag</button> -->
    </div>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label
        >Content: <span> {{ noteForm.value?.content?.length || 0 }}</span>
      </mat-label>
      <textarea
        matInput
        formControlName="content"
        cdkTextareaAutosize
        cdkAutosizeMinRows="10"
        cdkAutosizeMaxRows="50"
        cdkFocusInitial
      ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSubmit()">Add</button>
</mat-dialog-actions>
