<h2 mat-dialog-title>Add Notes</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="noteForm">
    <mat-form-field *ngIf="data.stockTicker">
      <mat-label>For</mat-label>
      <input matInput formControlName="for" type="text" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label
        >Content: <span> {{ noteForm.value?.content?.length || 0 }}</span>
      </mat-label>
      <textarea
        matInput
        formControlName="content"
        cdkTextareaAutosize
        cdkAutosizeMinRows="10"
        cdkAutosizeMaxRows="50"
        cdkFocusInitial
      ></textarea>
    </mat-form-field>

    <div>🔖</div>
    <app-tag-input
      [allTagsMap]="allTagsMap"
      [selectedTagUuids]="[data.tagUuid]"
      (updatedTagUuids)="onTagUuidsChange($event)"
    ></app-tag-input>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [disabled]="!(noteForm.get('content').value?.trim()?.length > 0)"
    (click)="onSubmit()"
  >
    Add Note
  </button>
</mat-dialog-actions>
