<div>
  <span>Business Areas: </span>
  <span class="badge" *ngFor="let item of business?.areas">{{ item }} </span>
</div>

<div>
  <span>Revenue Sources: </span>
  <span class="badge" *ngFor="let item of business?.revenues">{{ item }} </span>
</div>

<div>
  <span>Users: </span>
  <span class="badge" *ngFor="let item of business?.users">{{ item }} </span>
</div>

<div>
  <span>Long Term Strategies: </span>
  <span class="badge" *ngFor="let item of business?.strategies"
    >{{ item }}
  </span>
</div>

<div>
  <span>Market Estimated Size: </span>
  <span>{{ business?.marketSize | siUnit: 2 | undefined }}</span>
</div>

<div *ngIf="business?.overview">
  <div>Overview:</div>
  <div *ngFor="let item of business?.overview">{{ item }}</div>
</div>
