<div *ngIf="business?.overview">
  <div class="label">Overview</div>
  <div *ngFor="let item of business?.overview">{{ item }}</div>
</div>

<div *ngIf="business?.missions">
  <div class="label">Mission</div>
  <div *ngFor="let item of business?.missions">{{ item }}</div>
</div>

<div *ngIf="business.markets">
  <div class="label">Markets - Size - Growth Rate:</div>
  <div *ngFor="let item of business?.markets">
    <span class="badge">{{ item.type }}</span> -
    {{ item.size | siUnit: 2 | undefined }}
    <span *ngIf="item.growthRate">- {{ item.growthRate | percent }}</span>
  </div>
</div>

<div>
  <div class="label">Users</div>
  <div *ngFor="let item of business?.users">
    <span class="badge">{{ item.type }}</span>
  </div>
</div>

<div>
  <div class="label">Revenue Sources</div>
  <div *ngFor="let item of business?.revenues">
    <span class="badge">{{ item.type }}</span>
  </div>
</div>

<div *ngIf="business.productBenefits">
  <div class="label">Problems Solved</div>
  <div *ngFor="let item of business?.productBenefits">
    <span class="badge">{{ item.type }}</span>
    <span *ngIf="item.note"> - {{ item.note }}</span>
  </div>
</div>

<div>
  <div class="label">Competitive Advantages</div>
  <div *ngFor="let item of business?.competitiveAdvantages">
    <span class="badge">{{ item.type }}</span>
  </div>
</div>

<div>
  <div class="label">Growth Strategies</div>
  <div *ngFor="let item of business?.growthStrategy">- {{ item }}</div>
</div>
