<div *ngIf="business.markets">
  <span>Business Areas: </span>
  <span class="badge" *ngFor="let item of business?.markets"
    >{{ item.type }}
  </span>
</div>

<div *ngIf="business.markets">
  <span>Market Estimated Size: </span>
  <span>{{ business?.markets[0]?.size | siUnit: 2 | undefined }}</span>
</div>

<div>
  <span>Revenue Sources: </span>
  <span class="badge" *ngFor="let item of business?.revenues">{{ item }} </span>
</div>

<div>
  <div>Users:</div>
  <div *ngFor="let item of business?.users">- {{ item }}</div>
</div>

<div>
  <span>Long Term competitiveAdvantages: </span>
  <span class="badge" *ngFor="let item of business?.competitiveAdvantages"
    >{{ item }}
  </span>
</div>

<div *ngIf="business?.overview">
  <div>Overview:</div>
  <div *ngFor="let item of business?.overview">{{ item }}</div>
</div>
