.title-menu {
  display: flex;
  align-items: center;
  min-height: 40px;

  .title {
  }

  .buttons {
    margin-left: auto;
  }

  .header-1 {
    font-size: 1.2rem;
  }

  .header-2 {
    font-size: 1.1rem;
  }
}
