.title-menu {
  display: flex;
  align-items: center;
  min-height: 40px;
  font-weight: 400;

  .buttons {
    margin-left: auto;
  }

  .header-1 {
    font-size: 1.3rem;
  }

  .header-2 {
    font-size: 1.2rem;
  }

  .header-3 {
    font-size: 1.1rem;
  }

  .header-5 {
    font-size: 0.8rem;
  }
}
