<app-card>
  <h1>Badge</h1>

  <app-badge>Test</app-badge>
</app-card>

<app-card>
  <h1>Region Display</h1>

  <app-region-display [region]="'CN'">Test</app-region-display>
</app-card>

<app-card>
  <h1>Opinion Display</h1>

  <app-opinion-display [opinion]="opinionMock"></app-opinion-display>
</app-card>

<app-card>
  <h1>Tag Display</h1>

  <app-tags-display [tags]="tagsMock"></app-tags-display>
</app-card>

<app-card>
  <h1>Card</h1>

  <app-card>This is a card demo</app-card>
</app-card>

<app-card>
  <h1>Title Menu Component</h1>
  <app-title-menu>
    <div header-1>This is a header-1 Title</div>
  </app-title-menu>

  <app-title-menu>
    <div header-2>This is a header-2 Title</div>
  </app-title-menu>

  <app-title-menu>
    <div header-3>This is a header-3 Title</div>
  </app-title-menu>
</app-card>

<app-card>
  <h1>Instagram Display</h1>
  <app-instagram-display></app-instagram-display>
</app-card>

<app-card>
  <h1>Card With Limit</h1>
</app-card>

<app-card>
  <h1>Ranking Stocks</h1>
</app-card>

<app-card>
  <h1>Table</h1>
  <div class="table">
    <div class="table-row">
      <div>Col 1</div>
      <div>Col 2</div>
      <div>Col 3</div>
      <div>Col 4</div>
      <div>Col 5</div>
      <div>Col 6</div>
    </div>

    <div class="table-row">
      <div>Col 1</div>
      <div>Col 2</div>
      <div>Col 3</div>
      <div>Col 4</div>
      <div>Col 5</div>
      <div>Col 6</div>
    </div>

    <div class="table-row">
      <div>Col 1 long long long long long long long</div>
      <div>Col 2</div>
      <div>Col 3</div>
      <div>Col 4</div>
      <div>Col 5</div>
      <div>Col 6</div>
    </div>
  </div>
</app-card>
