<ng-container [ngSwitch]="factType">
  <ng-container *ngSwitchCase="factTypeEnum.growth" i18n>
    <span class="badge">Growth</span>
  </ng-container>

  <ng-container *ngSwitchCase="factTypeEnum.profit" i18n>
    <span class="badge">Profitability</span>
  </ng-container>

  <ng-container *ngSwitchCase="factTypeEnum.sentiment" i18n>
    <span class="badge">Sentiment</span>
  </ng-container>

  <ng-container *ngSwitchCase="factTypeEnum.valuation" i18n>
    <span class="badge">Valuation</span>
  </ng-container>

  <ng-container *ngSwitchCase="factTypeEnum.event" i18n>
    <span class="badge">Event</span>
  </ng-container>
</ng-container>
