<ul>
  <li>
    🔸 Quarterly Revenue {{ stock.quarterRevenue | siUnit: 2 | undefined }},

    <app-movement-display
      [previousData]="stock.previousQuarterRevenue"
      [currentData]="stock.quarterRevenue"
    ></app-movement-display>
    YoY from
    {{ stock.previousQuarterRevenue | siUnit: 2 | undefined }}

    <app-sentiment-display></app-sentiment-display>
  </li>

  <li>
    🔸 Trailing 12 Months Revenue
    {{ stock.ttmRevenue | siUnit: 2 | undefined }},

    <app-movement-display
      [previousData]="stock.previousTtmRevenue"
      [currentData]="stock.ttmRevenue"
    ></app-movement-display>
    YoY

    <app-sentiment-display></app-sentiment-display>
  </li>
</ul>

<h3>More Details:</h3>
<app-stats-detail-list
  [statsDetails]="growthDetails"
  [previousStatsDetails]="previousStatsDetails"
></app-stats-detail-list>

<!-- <h3>Forecast</h3> -->
