.very-red {
  color: red;
}

.red {
  color: darkred;
}

.green {
  color: darkgreen;
}

.very-green {
  color: yellowgreen;
}

.more-button {
  color: gray;
  padding: 5px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
