<div class="row header">
  <div>Market</div>
  <div>Bull Arguments</div>
  <div>Bear Arguments</div>
</div>

<ng-container *ngFor="let market of markets; last as isLast">
  <div class="row">
    <app-market-display [marketType]="market.type"></app-market-display>

    <div>
      <span>{{ multiplySign }}</span>
      {{ market?.riskUuids?.length || 0 }}
    </div>

    <div>
      <span>{{ multiplySign }}</span>
      {{ market?.catalystUuids?.length || 0 }}
    </div>
  </div>

  <app-divider *ngIf="!isLast"></app-divider>
</ng-container>
