<div class="container">
  <div class="row sub-title">
    <div *ngIf="!hideLabel">Quarter</div>
    <div class="stats">
      <span>
        {{ stock.latestReport.year }}Q{{ stock.latestReport.quarter }}
      </span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">Revenue Q/Q</div>
    <div class="stats">
      <span class="gray" *ngIf="!compareDisplay">
        ({{ stock.previousYearReport?.totalRevenue | siUnit: 2 | undefined }} ->
        {{ stock.quarterRevenue | siUnit: 2 | undefined }})
      </span>
      <span>
        <span *ngIf="stock.quarterRevenueGrowth > 0">+</span
        >{{ stock.quarterRevenueGrowth | siUnit: 2 | percent | undefined }}
      </span>
    </div>
  </div>

  <!-- <div class="stats">{{ unicode.NextLine }}</div> -->

  <div class="row">
    <div *ngIf="!hideLabel">Forecast Next Q/Q</div>
    <div class="stats">
      <span class="gray" *ngIf="!compareDisplay">
        ({{ forecastRevenue | siUnit: 2 | undefined }})
      </span>
      <span>
        <span *ngIf="nextQuarterForecastGrowth > 0">+</span
        >{{ nextQuarterForecastGrowth | siUnit: 2 | percent | undefined }}
      </span>
    </div>
  </div>

  <div class="row sub-title">
    <span *ngIf="!hideLabel"> Year (TTM)</span>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">Revenue Y/Y</div>
    <div class="stats">
      <span class="gray" *ngIf="!compareDisplay">
        ({{ stock.previousTtmRevenue | siUnit: 2 | undefined }} ->
        {{ stock.ttmRevenue | siUnit: 2 | undefined }})
      </span>
      <span>
        <span *ngIf="stock.yearOverYearRevenueGrowth > 0">+</span
        >{{ stock.yearOverYearRevenueGrowth | siUnit: 2 | percent | undefined }}
      </span>
    </div>
  </div>

  <ng-container *ngIf="activeUserCount && !compareDisplay">
    <div class="stats">{{ unicode.NextLine }}</div>

    <div class="row">
      <div *ngIf="!hideLabel">Active User</div>
      <div class="stats">
        <span>
          {{ activeUserCount | siUnit: 2 | undefined }}
        </span>
      </div>
    </div>

    <div class="row" *ngIf="userCountGrowth && !compareDisplay">
      <div *ngIf="!hideLabel">User Growth Q/Q</div>
      <div class="stats">
        <span>
          {{ userCountGrowth | siUnit: 2 | percent | undefined }}
        </span>
      </div>
    </div>

    <div
      class="row"
      *ngIf="quarterlyRevenue && activeUserCount && !compareDisplay"
    >
      <div *ngIf="!hideLabel">Average Revenue / User</div>
      <div class="stats">
        <span>
          {{ quarterlyRevenue / activeUserCount | siUnit: 2 | undefined }}
        </span>
      </div>
    </div>
  </ng-container>
</div>
