<div class="container">
  <div class="row">
    <div *ngIf="!hideLabel">Quarterly Revenue</div>
    <div class="stats">
      <span>
        {{ quarterlyRevenue | siUnit: 2 | undefined }}
      </span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">Growth Q/Q</div>
    <div class="stats">
      <span>
        {{ quarterlyRevenueGrowth | siUnit: 2 | percent | undefined }}
      </span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">Revenue Retention</div>
    <div class="stats">
      <span>
        {{ revenueRetention | siUnit: 2 | percent | undefined }}
      </span>
      <span>
        {{ revenueRetention | siUnit: 2 | percent | undefined }}
      </span>
    </div>
  </div>

  <div class="stats">{{ unicode.NextLine }}</div>

  <div class="row">
    <div *ngIf="!hideLabel">Forecast next Q</div>
    <div class="stats">
      <span>
        {{ forecastRevenue | siUnit: 2 | undefined }}
      </span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">Forecast Growth Q/Q</div>
    <div class="stats">
      <span>
        {{ nextQuarterForecastGrowth | siUnit: 2 | percent | undefined }}
      </span>
    </div>
  </div>

  <div class="stats">{{ unicode.NextLine }}</div>

  <div class="row">
    <div *ngIf="!hideLabel">Active User</div>
    <div class="stats">
      <span>
        {{ activeUserCount | siUnit: 2 | undefined }}
      </span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">User Growth Q/Q</div>
    <div class="stats">
      <span>
        {{ userCountGrowth | siUnit: 2 | percent | undefined }}
      </span>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!hideLabel">Average Revenue / User</div>
    <div class="stats">
      <span>
        {{ quarterlyRevenue / activeUserCount | siUnit: 2 | undefined }}
      </span>
    </div>
  </div>
</div>
