<ul class="container">
  <li class="row">
    <div *ngIf="!hideLabel">Quarterly Revenue Growth YoY</div>
    <div *ngIf="!hideData" class="stats">
      <span class="gray" *ngIf="!compareDisplay">
        ({{ stock.previousYearReport?.totalRevenue | siUnit: 2 | undefined }} ->
        {{ stock.quarterRevenue | siUnit: 2 | undefined }})
      </span>
      <span>
        <span *ngIf="stock.quarterRevenueGrowth > 0">+</span
        >{{ stock.quarterRevenueGrowth | siUnit: 2 | percent | undefined }}
      </span>
    </div>
  </li>

  <li class="row">
    <div *ngIf="!hideLabel">Revenue TTM YoY</div>
    <div *ngIf="!hideData" class="stats">
      <span class="gray" *ngIf="!compareDisplay">
        ({{ stock.previousTtmRevenue | siUnit: 2 | undefined }} ->
        {{ stock.ttmRevenue | siUnit: 2 | undefined }})
      </span>
      <span>
        <span *ngIf="stock.yearOverYearRevenueGrowth > 0">+</span
        >{{ stock.yearOverYearRevenueGrowth | siUnit: 2 | percent | undefined }}
      </span>
    </div>
  </li>

  <ng-container *ngIf="activeUserCount && !compareDisplay">
    <li class="stats">{{ unicode.NextLine }}</li>

    <li class="row">
      <div *ngIf="!hideLabel">Active User</div>
      <div class="stats">
        <span>
          {{ activeUserCount | siUnit: 2 | undefined }}
        </span>
      </div>
    </li>

    <li class="row" *ngIf="userCountGrowth && !compareDisplay">
      <div *ngIf="!hideLabel">User Growth Q/Q</div>
      <div class="stats">
        <span>
          {{ userCountGrowth | siUnit: 2 | percent | undefined }}
        </span>
      </div>
    </li>

    <li
      class="row"
      *ngIf="quarterlyRevenue && activeUserCount && !compareDisplay"
    >
      <div *ngIf="!hideLabel">Average Revenue / User</div>
      <div *ngIf="!hideData" class="stats">
        <span>
          {{ quarterlyRevenue / activeUserCount | siUnit: 2 | undefined }}
        </span>
      </div>
    </li>
  </ng-container>
</ul>
