<div class="square">
  <div class="instagram-top">
    <app-date-display [date]="dialogData?.date"></app-date-display>
    {{ dialogData.type }} News
  </div>

  <div class="image">
    <app-stock-image-display
      [tag]="dialogData?.tags?.[0]"
    ></app-stock-image-display>

    <app-image-display
      [imageLink]="dialogData?.imageLinks?.[0]"
    ></app-image-display>
  </div>

  <div class="title">
    🎙️
    {{ dialogData?.title }}
  </div>

  <ul>
    <li *ngFor="let item of dialogData?.content">🔸 {{ item }}</li>
  </ul>

  <ul>
    <li *ngFor="let item of dialogData?.stats">
      <app-stats-display [statsDisplay]="item"></app-stats-display>
    </li>
  </ul>
</div>

<app-tags-display [tags]="dialogData?.tags"> </app-tags-display>
