.comparison-display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  > div {
    flex: 1 1 auto;
  }

  .text-align-left {
    text-align: left;
  }

  .item-column {
    cursor: pointer;
    &:hover {
      background-color: lightblue;
    }
  }

  .align-center {
    text-align: center;
  }
}
