<!-- <app-investor-display
  *ngIf="quote?.authorUuid"
  [authorUuid]="quote.authorUuid"
></app-investor-display> -->

<div class="image-display">
  <app-ui-images-display [images]="imageLinks"></app-ui-images-display>
</div>

<b class="h3" *ngIf="quote?.title">🎙️ {{ quote.title }}</b>

<div class="h3 question" *ngIf="quote?.question">
  ❓ <i>{{ quote.question }}</i>
</div>

<ul class="quote-font">
  <li *ngFor="let line of lines">
    <span class="quote-icon">💬</span>
    <span class="quote">"</span>
    <i>{{ line }}</i>
    <span class="quote">"</span>
  </li>
</ul>

<div class="source" *ngIf="quote?.sourceLink">
  📍<a target="_blank" href="{{ quote.sourceLink }}"
    ><app-media-link [link]="quote.sourceLink"></app-media-link
  ></a>
</div>
