<app-title-menu>
  <div header-1>{{ marketType }}</div>
</app-title-menu>

<div>
  <app-card>
    <app-title-menu>
      <div header-2>Stocks</div>
    </app-title-menu>

    <app-stock-badge-list
      [stocks]="stocks"
      [isLink]="'true'"
    ></app-stock-badge-list>
  </app-card>
</div>

<div>
  <app-card>
    <app-title-menu>
      <div header-2>Opinions</div>

      <div buttons>
        <button buttons mat-icon-button [matMenuTriggerFor]="opinionMenu">
          <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #opinionMenu="matMenu"> </mat-menu>
      </div>
    </app-title-menu>

    <app-card *ngFor="let opinion of opinions">
      <div>
        <app-opinion-item-display
          [opinion]="opinion"
        ></app-opinion-item-display>
      </div>
    </app-card>
  </app-card>
</div>

<div>
  <app-card>
    <app-title-menu>
      <div header-2>News</div>
    </app-title-menu>

    <div class="grid grid-list">
      <app-card *ngFor="let item of news">
        <app-news-display
          [shortVersion]="'true'"
          [news]="item"
        ></app-news-display>
      </app-card>
    </div>
  </app-card>
</div>
