<form [formGroup]="searchForm" (ngSubmit)="search()">
  <mat-form-field appearance="fill">
    <input
      [autoFocusForSearchBar]="enableAutoFocus"
      matInput
      value=""
      formControlName="searchText"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-optgroup
        *ngFor="let group of stateGroupOptions | async"
        [label]="group.label"
      >
        <mat-option
          *ngFor="let item of group.items"
          [value]="item"
          (onSelectionChange)="onSelectionChange($event, group.label)"
        >
          <span *ngIf="item.ticker">{{ item.ticker.toUpperCase() }} - </span>
          <span>
            {{ item?.displayName || item?.name }}
          </span>
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>

  <!-- <button
    matSuffix
    mat-icon-button
    aria-label="Go"
    type="submit"
    (click)="search()"
  >
    <mat-icon>chevron_right</mat-icon>
  </button> -->
</form>
