<div class="flex">
  <span>
    <app-risk-level-display [riskLevel]="risk.level"></app-risk-level-display>
  </span>

  {{ risk.name || risk.content }}

  <span class="action-buttons">
    <span class="gray-text" *ngIf="risk.updatedTime">{{
      risk.updatedTime | date: shortDate
    }}</span>

    <span *ngIf="!showCategory">
      <button mat-icon-button type="button" (click)="expanded = !expanded">
        <mat-icon *ngIf="expanded">expand_less</mat-icon>
        <mat-icon *ngIf="!expanded">expand_more</mat-icon>
      </button>
    </span>
  </span>
</div>

<div class="flex" *ngIf="showCategory">
  <span class="material-icons">trending_down</span>:

  <app-badge *ngFor="let item of risk?.tickers">
    {{ item }}
  </app-badge>

  <app-badge *ngFor="let item of risk?.markets">
    {{ item }}
  </app-badge>

  <app-fact-type-display class="action-buttons" [factType]="risk.type">
  </app-fact-type-display>

  <span>
    <button mat-icon-button type="button" (click)="expanded = !expanded">
      <mat-icon *ngIf="expanded">expand_less</mat-icon>
      <mat-icon *ngIf="!expanded">expand_more</mat-icon>
    </button>
  </span>
</div>

<div *ngIf="expanded">
  <ul>
    <li *ngFor="let item of risk.notes">
      <app-note [note]="item" [isExpanded]="false"> </app-note>
    </li>
  </ul>

  <div>
    <button type="button" mat-icon-button>
      <mat-icon>trending_up</mat-icon>
    </button>
    <span>{{ risk?.vote || 0 }}</span>
    <button type="button" mat-icon-button>
      <mat-icon>trending_down</mat-icon>
    </button>

    <button type="button" mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>

    <button mat-icon-button type="button" (click)="openDialog()">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>

  <!-- <div>
    <div>comment</div>
    <textarea></textarea>
  </div> -->
</div>

<div class="border"></div>
