.flex {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.action-buttons {
  margin-left: auto;
}

.highlight {
  font-size: 1.1rem;
}

ul {
  padding-left: 1rem;
}

.gray-text {
  color: lightgray;
  font-size: small;
}
