<div>
  <h1>风口行业</h1>
  <h2>电动车</h2>
  <h2>人工智能</h2>
  <p>NVDA</p>
  <h2>3D打印</h2>
  <h2>大麻</h2>
  <h2>电商</h2>
  <h2>新能源</h2>
  <h2>比特币</h2>
  <h2>网上房产</h2>
  <h2>网上金融</h2>
  <p>LMND</p>
  <h2>流媒体</h2>
  <p>DIS</p>
  <p>NFLX</p>
  <h2>网络安全</h2>
  <p>CRWD</p>
  <h2>网上广告</h2>
  <p>PIN</p>
  <h2>网上社交</h2>
  <p>MTCH</p>
  <p>BMBL</p>
  <h2>网上生产力</h2>
  <p>ADSK, TEAM, WDAY</p>
  <p>FVRR, ZEN</p>
  <p>DOCU</p>
  <p>ZM</p>
  <h2>诊断研究</h2>
  <p>CRL, EXAS, SGEN, PODD</p>
  <h2>科技咨询</h2>
  <p>EPAM</p>
  <h2>科技安全</h2>
  <p>PFPT</p>
  <h2>游戏</h2>
  <p>ZNGA</p>
  <h2>警用武器</h2>
  <p>AAXN</p>
  <h2>教育</h2>
  <p>CHGG</p>
  <p>TWOU</p>
  <h2>数据分析</h2>
  <p>DT, ESTC, HUBS, MDB,</p>
</div>

<div>
  <h1>风口股票</h1>
  <p>BIDU</p>
  <p>PLTR</p>
  <p>TSLA</p>
  <p>Z</p>
  <p>SQ</p>
</div>
