<app-title-menu>
  <div header-1>Regions</div>
</app-title-menu>

<app-card>
  <div class="table">
    <div class="table-head">
      <div>Rank</div>
      <div>Region</div>
      <div>Opinion</div>
    </div>

    <div *ngFor="let item of regions" class="table-row">
      <div>
        {{ item.rank }}
      </div>
      <div>
        <app-badge
          ><app-region-display [region]="item.code"></app-region-display
        ></app-badge>
      </div>
      <div>
        <app-opinion-display
          *ngIf="item.opinion"
          [opinion]="item?.opinion"
        ></app-opinion-display>
      </div>
    </div>
  </div>
</app-card>
